// 320px has been designed 
// 1090px has been designed

// 590 - 959
$bp590: 590px;

// 960 - 1179
$bp960: 960px;

// 1180 + 
$bp1180: 1180px;

// <530

$bp530: 530px;

$bp767: 767px;

// then the styles for 
$bp-tab: $bp590;
$bp-desk: $bp960;
$bp-full: $bp1180;
$bp-mobile: $bp530;
$bp-under_tab:$bp767;
