$color-black: #000000;
$color-white: #ffffff;
$color-orange: #f1592a;
$color-orange-95: rgba(239, 87, 41, 0.95);
$color-green: #4abc8a;
$color-green-light: #79e0b3;
$color-gold: #b1872c;
$color-platinum: #ff6633;
$color-silver: #b7b7b7;
$color-orange-secondary: $color-platinum;

// Grays!
$color-gray-lighter: #ebebeb;
$color-gray-light: #c6c6c6;
$color-gray-medium-dark: #828384;
$color-gray-darker: #27282a;
$color-gray-darkest: #161618;
$color-gray-ae: #aeaeae;
$color-gray-c: #CCCCCC;
$color-gray-27: #272727;
$color-gray-29: #292929;
$color-gray-19: #191919;
$color-gray-7f: #7f7f7f;
$color-gray-89: #898989;
$color-gray-9: #999999;
$color-gray-6: #666666;
$color-gray-2: #222222;
$color-gray-3: #333333;
$color-gray-4: #444444;
$color-gray-36: #363636;

$color-default: $color-black;