$color-black: #000000;
$color-white: #ffffff;
$color-orange: #f1592a;
$color-orange-95: rgba(239, 87, 41, 0.95);

$color-gray-lighter: #ebebeb;
$color-gray-light: #c6c6c6;
$color-gray-medium: #999999;
$color-gray-medium-dark: #828384;
$color-gray-dark: #666666;
$color-gray-darkest: #161618;
$color-gray-darker: #27282a;

$color-default: $color-black;