$color-black: #000000;
$color-white: #ffffff;
$color-orange: #f1592a;
$color-orange-95: rgba(239, 87, 41, 0.95);

$color-gray-lighter: #ebebeb;
$color-gray-light: #c6c6c6;
$color-gray-medium-dark: #828384;
$color-gray-darker: #27282a;
$color-gray-darkest: #161618;
$color-gray-29: #292929;
$color-gray-19: #191919;
$color-gray-89: #898989;
$color-gray-9: #999999;
$color-gray-6: #666666;
$color-gray-3: #333333;

$color-default: $color-black;