.tabs.tabs--primary {
	background: #f1592a;
	margin: -20px -20px 20px;
	border: 0;
	padding: 10px 10px 0 10px;

  @include breakpoint($bp-tab) {
		padding: 20px 20px 0 20px;
  }
	
  @include breakpoint($bp-desk) {
		margin: -50px -50px 50px;
		padding: 20px 20px 0 50px;
  }
	
	li {
		float: none;
		display: block;
		margin: 0 0 10px;

	  @include breakpoint($bp-tab) {
			display: inline-block;
			margin: 0;
	  }
		
		a {
			display: block;
			padding: 0 10px;
			height: 30px;
			line-height: 30px;
			background: #666;
			color: #fff;
			text-decoration: none;

		  @include breakpoint($bp-tab) {
				display: inline-block;
		  }
			
			&:hover {
				background: #000;
			}
			
			&.active {
				background: #fff;
				color: #000;
			}
		}
	}
}

body.node-type-offers,
body.node-type-landing-page,
body.node-type-page {
	
	.tabs.tabs--primary {
		background: #333;
		margin: 0;
	
		li {

			a {
			
				&.active {
					background: #f1592a;
					color: #fff;
				}
			}
		}
	}
}

.form-actions {
	
	input.form-submit {
		@extend .button;
	}
}