// Home User Ranking
.block--views-user-ranking-block-1,
.block--views-user-ranking-block-3 {
	position: relative;
  background: $color-gray-36;
  padding: 0 0 64px;
  text-align: left;
  margin-bottom: 50px;

  h2.block__title {
    font-family: $dr;
    @include rem(font-size, 25px);
    background: $color-orange;
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
  }
  
  .view-content {
    @include breakpoint($bp-tab) {
      padding: 20px;
    }
    
    @include breakpoint($bp-tab) {
      padding: 50px;
    }
  }
  
  .xcollapse {
    @include rem(font-size, 20px);
    color: $color-gray-9;
    position: absolute;
    right: 20px;
    bottom: 84px;
    
    @include breakpoint($bp-tab) {
      right: 50px;
    }
  }
}
#views-exposed-form-user-ranking-block-1,
#views-exposed-form-user-ranking-block-3 {
  background: $color-white;
  margin: 0 0 40px;
  padding: 20px;
  text-align: left;

  @include breakpoint($bp-tab) {
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .views-exposed-form {
    .views-exposed-widgets {
      margin: 0 !important;
      
      .views-exposed-widget {
        padding: 0 !important;
        width: 100%;
        
        .form-text {
          float: left;
          margin: 0;
          padding: 0;
          width: 80%;
          max-width: 80%;
        }
        
        .form-submit {
    			@include use-sprite($search);
          background-color: $color-white;
          border: none;
          cursor: pointer;
          float: right;
          margin: 0;
          padding: 0;
          text-align: left;
          text-indent: -999em;
        }
      }
    }
  }
  
}
#edit-uid {
  background: none;
  border: none;
  font-family: $dr;
  letter-spacing: 2px;
  line-height: 22px;
  max-width: 100%;
  padding: 0 6px;
  text-transform: uppercase;
}
html.js .form-autocomplete#edit-uid {
  background: none;
}

.view-user-ranking {
  text-align: center;

  @include breakpoint($bp-tab) {
    text-align: left;
  }
  
  h3 {
    @include rem(font-size, 20px);
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .views-row {
    @include clearfix;
    line-height: 1;
  }
  
  .profile-info {

    @include breakpoint($bp-tab) {
      float: left;
      width: 50%;
    }
    
    .views-field-picture {
      margin-bottom: 30px;

      @include breakpoint($bp-tab) {
        float: left;
        width: 26%;
      }
      
      img {
        width: 140px;
        border-radius: 200px;
        overflow: hidden;
        border: 2px solid $color-white;
      }
    }
    
    .personal-info {
      font-family: $sr;
      margin-bottom: 20px;

      @include breakpoint($bp-tab) {
        float: right;
        width: 63%;
      }
      
      .views-field-lifetime-user-standing,
      .views-field-monthly-user-standing {
        font-family: $dr;
        @include rem(font-size, 30px);
        color: $color-orange;
        margin-bottom: 25px;
      
        &:after {
          content: ".";
        }
      }
      
      .member-name {
        @include rem(font-size, 18px);
        text-transform: uppercase;
        margin-bottom: 10px;
        
        div {
          display: inline-block;
        }
      }
            
      .field--city-state {
        @include rem(font-size, 16px);
        color: $color-gray-c;
        margin-bottom: 30px;
      }
    }
  }
  
  .current-profile-month,
  .current-profile-lifetime {
    font-family: $sr;
    margin-bottom: 20px;

    @include breakpoint($bp-tab) {
      float: left;
      width: 25%;
      margin-bottom: 0;
      border-left: 1px solid $color-gray-4d;
      padding: 10px 0 20px 40px;
    }
    
    .views-label {
      @include rem(font-size, 16px);
      color: $color-orange;
      display: block;
      margin-bottom: 10px;
    }
    
    .field-content {
      @include rem(font-size, 25px);
      display: block;
    }
  }

  .views-field-lifetime-points {}
  
}

// override for my profile section
body.section-users {
  .view-user-ranking {
    background-color: $color-gray-36;
    padding: 20px;
    
    @include breakpoint($bp-tab) {
      float: right;
      padding: 0;
      width: 50%;
      margin-top: -286px;
    }

    .current-profile-month,
    .current-profile-lifetime {
      @include breakpoint($bp-tab) {
        width: 50%;
      }
    }
  }
}

// override for my profile Edit section
body.page-user-edit {
  .view-user-ranking {
    .profile-info {
      @include breakpoint( $bp-tab ) {
        img {
          opacity: 0;
        }
      }
    }
  }
}
body.section-user {
  .view-user-ranking {
    .profile-info {
      .personal-info {
      
        .member-name {
          color: $color-white;
          font-family: $dr;
          @include rem(font-size, 33px);
          line-height: 0.9;
          padding-top: 10px;
          
          div {
            display: block;
          }
        }
      }
    }
  }
}

// for now just hide the Lifetime and default to Monthly
.block--views-user-ranking-block-1,
.block--views-leaderboards-block-2 {
  display: none;
}

// collapsed state
.block--views-user-ranking-block-1.collapsed,
.block--views-user-ranking-block-3.collapsed {
  padding-bottom: 0;
  
  .view-user-ranking {
    display: none;
  }
}