.block--dfc-convert-points-giveaway-countdown {
  background: $color-gray-27;
  
  .inner {
    @include container;
    padding: 20px;

	  @include breakpoint($bp-desk) {
      padding: 45px 75px;
	  }
    
	  @include breakpoint($bp-full) {
      padding: 45px 0;
	  }
  }
  
  .countdown-text {
    margin-bottom: 30px;
    text-align: center;

	  @include breakpoint($bp-tab) {
      float: left;
      margin-bottom: 0;
      text-align: left;
      width: 44%;
	  }
  }
  
  .countdown-title {
	  font-family: $dr;
    text-transform: uppercase;
		@include rem(font-size, 32px);
    line-height: .9;
    margin-bottom: 20px;
    color: $color-white;
    
	  @include breakpoint($bp-desk) {
      @include rem(font-size, 35px);
    }
    
    span {
      color: $color-orange;
    }
  }
  
  .countdown-sponsor,
  .countdown-prize {
    /*color: $color-gray-9;*/
	color: $color-white;
	  font-family: $sr;
		@include rem(font-size, 14px);
  }
  .countdown-sponsor{
	margin-bottom: 25px;
  }
  .countdown-prize {
    color: $color-white;
	padding: 15px 50px;
	 font-family: $tgc;
		@include rem(font-size, 16px);	
  }
  
  .jquery-countdown{
	@include breakpoint(max-width 1024px) {
		text-indent: 0;
		text-align: center;
	  }
  }
  .jquery-countdown::before {
	  color: #ffffff;
	  content: "next giveway";
	  display: block;
	  font-size: 20px;
	  margin-bottom: 15px;
	  text-align: left;
	  text-indent: 30%;
	  text-transform: uppercase;
	  font-family: $dr;
	  @include breakpoint(max-width 1024px) {
		text-indent: 0;
		text-align: center;
	  }
	}
  
  
}  
.jquery-countdown {
  background: none;
  border: 0;
  text-align: center;
  white-space: nowrap;
  
  @include breakpoint($bp-tab) {
    float: right;
    text-align: right;
    width: 56%;
  }

  
  // small text
  .countdown_section {
    position: relative;
    display: inline-block;
    color: $color-gray-9;
    font-family: $sr;
    @include rem(font-size, 14px);
    text-align: right;
    padding-right: 10px;
    width: auto;
      
    @include breakpoint($bp-desk) {
      padding-right: 20px;
    }
    
    &:after {
      content: ":";
      display: block;
      color: $color-white;
      font-family: $dr;
      @include rem(font-size, 42px);
      position: absolute;
      top: -10px;
      right: 1px;
      
      @include breakpoint($bp-desk) {
        right: 5px;
      }
    }
    
    &.secs {
      padding-right: 0;
      
      @include breakpoint($bp-desk) {
        padding-right: 0;
      }
      
      &:after {
        display: none;
      }
    }
  }
  
  // big number
  .countdown_amount {
    position: relative;
    background: $color-white;
    color: $color-orange;
    font-family: $dr;
    @include rem(font-size, 36px);
    letter-spacing: 15px;
    height: 56px;
    line-height: 56px;
    width: 60px;
    text-align: right;
    text-indent: 7px;
    display: inline-block;
    margin-bottom: 10px;
    
    @include breakpoint($bp-tab) {
      @include rem(font-size, 42px);
      letter-spacing: 23px;
      width: 80px;
      text-indent: 10px;
    }
    
    @include breakpoint($bp-desk) {
      letter-spacing: 30px;
      width: 100px;
      text-indent: 15px;
    }
    
    // the line between #s
    &:before {
      content: "";
      display: block;
      background: $color-gray-27;
      height: 56px;
      width: 5px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -2px;
    }
  }
}