body.node-type-article {
	@extend body.node-type-page;
  
  .field--image {
    margin-bottom: 20px;

	  @include breakpoint($bp-tab) {
      float: right;
      max-width: 50%;
      margin: 0 0 20px 20px;
	  }

	  @include breakpoint($bp-desk) {
      margin: 0 0 50px 50px;
	  }
  }
}