body.node-type-media-item {
	
	h1 {
		background-color: $color-orange;
		min-height: 58px;
		padding: 20px;
		margin-bottom: 10px;
		font-family: $dr;
		@include rem(font-size, 30px);
		line-height: .8;
		text-transform: uppercase;
		color: $color-white;
		

	  @include breakpoint($bp-desk) {
			padding: 20px 50px;
	  }
	}
	
	.field--media-link {
		margin-bottom: 20px;

	  @include breakpoint($bp-full) {
			padding: 0 50px;
			margin-bottom: 65px;
	  }
		
		iframe {
			width: 100%;

		  @include breakpoint($bp-full) {
				height: 610px;
		  }
		}
	}
	
	.group-media-content {}
	
	.field--media-category {
		font-family: $dr;
		@include rem(font-size, 20px);
		line-height: .8;
		text-transform: uppercase;
		color: $color-orange;
		margin-bottom: 20px;
		
		&:before {
			@include use-sprite($icon-gps);
			display: inline-block;
			margin-right: 10px;
		}
		
	}
	
	.field--title-field {
		
		h2 {
			font-family: Helvetica;
			@include rem(font-size, 42px);
			line-height: .8;
			color: $color-white;
			margin-bottom: 50px;
		}
	}
	
	.field--product-description {
		font-family: $sr;
		color: $color-white;
	}
	
	.group-related-videos {}
}