body.node-type-page {

	article.node--full {
		background-color: $color-white;
		color: $color-black;
		padding: 20px;

	  @include breakpoint($bp-desk) {
			padding: 50px;
	  }
		
		.field--title-field {
			background-color: $color-orange;
			min-height: 58px;
			padding: 20px;
			margin: -20px -20px 20px;
	
		  @include breakpoint($bp-desk) {
				padding: 20px 50px;
				margin: -50px -50px 50px;
		  }
			
			h1 {
				font-family: $dr;
				@include rem(font-size, 30px);
				margin: 0;
				padding: 0;
				line-height: .8;
				text-transform: uppercase;
				color: $color-white;
			}
		}
	}
}