body.front {
	
	.l-main {
		max-width: none;
	}
}

// How it works
.block--bean-home-how-it-works {
	position: relative;
	text-align: center;
	
	.field--background-image {
		position: absolute;
		top: -20px;
		left: 0;
		z-index: 10;
		height: 180px;
		
//	  @include breakpoint($bp-tab) {
//			top: -30px;
//	  	height: 260px;
//			left: 50%;
//	    -webkit-transform: translate(-50%, 0);
//	    -moz-transform: translate(-50%, 0);
//	    -ms-transform: translate(-50%, 0);
//	    -o-transform: translate(-50%, 0);
//	    transform: translate(-50%, 0);
//	  }

	  @include breakpoint($bp-desk) {
			left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -moz-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	    -o-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	  	height: 218px;
			top: -118px;
			margin-left: -130px;
	  }

	  @include breakpoint($bp-full) {
	  	height: 270px;
			top: -133px;
			margin-left: -300px;
	  }
		
		img {
			height: 100%;
			width: auto;
		}
	}

	.how-text {
		position: relative;
		background: $color-orange;
		padding: 40px 20px 0;
		height: 160px;

	  @include breakpoint($bp-desk) {
			padding-top: 30px;
	  	height: 100px;
			text-align: left;
	  }

	  @include breakpoint($bp-full) {
			padding-top: 40px;
	  	height: 136px;
	  }
	
		.how-text-title {
			position: relative;
			z-index: 11;
			font-family: $dr;
			color: $color-white;
			@include rem(font-size, 33px);
			text-transform: uppercase;

		  @include breakpoint($bp-tab) {
				width: 40%;
				margin: auto;
		  }

		  @include breakpoint($bp-desk) {
				padding-left: 340px;
				width: auto;
		  }

		  @include breakpoint($bp-full) {
				padding-left: 450px;
				@include rem(font-size, 42px);
		  }
		
			span {
				color: $color-black;
				display: block;
		
			  @include breakpoint($bp-tab) {
					display: inline;
			  }
			}
		}
	}

	.how-steps {
		position: relative;
		background: $color-white;
		padding: 70px 50px 60px;

	  @include breakpoint($bp-tab) {
			padding: 85px 80px 155px;
	  }

	  @include breakpoint($bp-desk) {
			padding-bottom: 80px;
	  }
		
		.container {
			
		  @include breakpoint($bp-full) {
				padding: 0 150px;
		  }
		}
	
		&:before {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -20px;
			content: "";
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;
	    border-top: 20px solid $color-orange;
		}
		
		.step {
			position: relative;
			margin-bottom: 65px;
			padding-top: 80px;
			
		  @include breakpoint($bp-desk) {
				float: left;
				display: inline-block;
				width: 25%;
				padding-left: 25px;
				padding-right: 25px;
				margin-bottom: 0;
		  }
			
			&:last-child {
				margin-bottom: 0;
			}
			
			&:before {
		    position: absolute;
		    left: 50%;
		    top: 0;
			}
		}
		
		h3 {
			text-transform: uppercase;
			color: $color-orange;
			@include rem(font-size, 23px);
			margin-bottom: 22px;
		}
		
		p {
			margin: 0;
			font-family: $sr;
			@include rem(font-size, 11px);
		}
		
		.step-01 {
			
			&:before {
				@include get-sprite($icons-sprites, how-check);
		    margin-left: -27px;
			}
		}
		
		.step-02 {
			
			&:before {
				@include get-sprite($icons-sprites, how-points);
		    margin-left: -27px;
			}
		}
		
		.step-03 {
			
			&:before {
				@include get-sprite($icons-sprites, how-upload);
		    margin-left: -27px;
			}
		}
		
		.step-04 {
			
			&:before {
				@include get-sprite($icons-sprites, how-perks);
		    margin-left: -25px;
			}
		}
	}

	.how-cta {
		position: relative;
		background: $color-gray-lighter;
		padding: 50px 28px 40px;
		text-transform: uppercase;
		
	  @include breakpoint($bp-desk) {
			padding: 50px 0 40px;
	  }
		
		&:before {

		  @include breakpoint($bp-desk) {
				@include get-sprite($icons-sprites, line-arrow);
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -175px;
		  }
		}
		
		.how-cta-column {
			
		  @include breakpoint($bp-desk) {
				float: left;
				width: 60%;
				text-align: left;
				padding-left: 220px;
				padding-right: 60px;
		  }
			
		  @include breakpoint($bp-desk) {
				padding-left: 150px;
		  }
		}
		
		.how-cta-title {
		  font-family: $dr;
			@include rem(font-size, 30px);
			margin-bottom: 15px;
			
		  @include breakpoint($bp-desk) {
		    @include rem(font-size, 38px);
				line-height: .95;
				margin-bottom: 10px;
		  }
			
			span {
				color: $color-orange;
			}
		}
		
		.how-cta-subtitle {
			font-weight: bold;
			color: $color-orange;
			@include rem(font-size, 20px);
			margin-bottom: 15px;
		}
		
		.how-cta-link {
			
		  @include breakpoint($bp-desk) {
				float: right;
				width: 40%;
				text-align: left;
		  }

			a {
				display: inline-block;
				width: 276px;
				height: 102px;
				background: url(../images/button-how-cta.png) no-repeat;
			}
			
			span {
				display: none;
			}
		}
	}

}