.l-header {
	height: 110px;
	text-align: center;
	
  @include breakpoint($bp-desk) {
		height: 130px;
  }
}

.site-logo {
	display: block;
	width: 90px;
	margin: auto;
	padding-top: 10px;

  @include breakpoint($bp-tab) {
		width: 110px;
  }
	
  @include breakpoint($bp-desk) {
		width: 143px;
  }
}

.block--bean-header-info {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 100px;

  @include breakpoint($bp-tab) {
		width: 310px;
		text-align: right;
		top: 20px;
  }
	
  @include breakpoint($bp-desk) {
		top: 50px;
		right: 50px;
  }
	
	.header-links {
		font-family: $sr;
		@include rem(font-size, 11px);
    line-height: 1;
		color: $color-gray-lighter;
    @include clearfix;
	
	  @include breakpoint($bp-desk) {
			margin-bottom: 5px;
			@include rem(font-size, 12.5px);
	  }
    
    ul {
      @extend .no-list;
      
      li {
        margin-bottom: 8px;

  		  @include breakpoint($bp-desk) {
          margin-left: 5px;
          padding-left: 10px;
          border-left: 1px solid $color-gray-lighter;
          display: inline-block;
  		  }
    
        &:first-child {

    		  @include breakpoint($bp-desk) {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
    		  }
        }
        
    		a {
    			text-decoration: none;
    			color: $color-gray-lighter;

    			&:hover {
    				color: $color-orange
    			}
    		}
      }
    }
	}

	.header-join {
		text-transform: uppercase;
		@include rem(font-size, 18px);
		font-family: $dr;
		letter-spacing: 1px;
		
		a {
			text-decoration: none;
			color: $color-orange;
      
			&:hover {
				color: $color-white;
			}
		}
	}
}

body.not-logged-in {
  
  .link-logout {
    display: none !important;
  }
}