.l-header {
	height: 110px;
	text-align: center;
  position: relative;
  z-index: 99999;
	
  @include breakpoint($bp-desk) {
		height: 130px;
  }
}

.site-logo {
	display: block;
	width: 90px;
	margin: auto;
	padding-top: 10px;

  @include breakpoint($bp-tab) {
		width: 110px;
  }
	
  @include breakpoint($bp-desk) {
		width: 143px;
  }
}

.block--bean-header-info {
	position: absolute;
	top: 60px;
	right: 10px;
	width: 100px;
  display: none;

  @include breakpoint($bp-tab) {
		width: 310px;
		text-align: right;
  }
	
  @include breakpoint($bp-desk) {
		top: 70px;
		right: 50px;
  }
  
  body.not-logged-in & {
    display: block;
  }

	.header-join {
		text-transform: uppercase;
		@include rem(font-size, 18px);
		font-family: $dr;
		letter-spacing: 1px;
		
		a {
			text-decoration: none;
			color: $color-orange;
      
			&:hover {
				color: $color-white;
			}
		}
	}
}