// Home CTA
.block--bean-home-cta {
	position: relative;
	text-align: center;

	.home-cta {
		position: relative;
		background: $color-orange;
		padding: 40px 30px;
		text-transform: uppercase;
		
	  @include breakpoint($bp-desk) {
			padding: 40px 0;
	  }
		
		.home-cta-column {
			
		  @include breakpoint($bp-desk) {
				float: left;
				width: 55%;
				text-align: left;
				padding-left: 310px;
				padding-right: 10px;
		  }
			
		  @include breakpoint($bp-full) {
				width: 58%;
				padding-top: 10px;
				padding-left: 210px;
				text-align: center;
		  }
		}
		
		.home-cta-title {
		  font-family: $dr;
			@include rem(font-size, 40px);
			margin-bottom: 10px;
			line-height: 1;
			
		  @include breakpoint($bp-desk) {
		    @include rem(font-size, 52px);
				line-height: .8;
		  }
			
			span {
				color: $color-orange;
			}
		}
		
		.home-cta-subtitle {
			font-weight: bold;
			color: $color-white;
			@include rem(font-size, 20px);
			margin-bottom: 10px;
			
		  @include breakpoint($bp-desk) {
		    @include rem(font-size, 16px);
		  }
		}
		
		.home-cta-link {
			
		  @include breakpoint($bp-desk) {
				float: right;
				width: 45%;
				text-align: left;
		  }
			
		  @include breakpoint($bp-full) {
				width: 42%;
		  }

			a {
				display: inline-block;
				width: 230px;
				height: 85px;
				background: url(../images/button-home-cta.png) no-repeat;
			}
			
			span {
				display: none;
			}
		}
	}
}