body.node-type-landing-page.section-membership {

}

.block--bean-membership-header {
	position: relative;
	overflow: hidden;
  padding: 20px;
  background: $color-gray-2;
  text-align: center;

  @include breakpoint($bp-desk) {
		height: 360px;
    padding: 0;
    background: transparent;
  }

  @include breakpoint($bp-full) {
		height: 410px;
  }

  .field--background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
    display: none;

	  @include breakpoint($bp-desk) {
      display: block;
			height: auto;
	  }
		
		img {
			height: 100%;
			max-width: none;
			width: auto;

		  @include breakpoint($bp-tab) {
				height: auto;
				max-width: 100%;
				width: 100%;
		  }
		}
  }

  .field--text {

	  @include breakpoint($bp-desk) {
  		position: absolute;
  		top: 0;
  		left: 0;
      width: 100%;
	  }
    
    .ms-text {

  	  @include breakpoint($bp-desk) {
        float: left;
        width: 50%;
        padding-top: 150px;
        padding-left: 50px;
  	  }
    }
    
    .ms-video {

  	  @include breakpoint($bp-desk) {
        float: right;
        width: 50%;
        padding-top: 60px;
        text-align: left;
  	  }
    }

    h1 {
  		font-family: $dr;
  		color: $color-white;
  		line-height: .9;
  		text-transform: uppercase;
  		@include rem(font-size, 42px);
  		margin-bottom: 10px;

  	  @include breakpoint($bp-desk) {
  			@include rem(font-size, 68px);
  	  }
    }
    
    .ms-subtitle {
  		font-family: $sr;
  		color: $color-white;
  		line-height: .9;
  		text-transform: uppercase;
  		@include rem(font-size, 16px);
  		margin-bottom: 10px;
    }
    
    .ms-video {
	
	    .video-caption {
      margin: 0 0 0 -152px;
      width: 304px;
      max-width: 304px;
      padding: 0 0 56%;
      position: absolute;
      bottom: 27px;
      left: 50%;
      
      @include breakpoint($bp-tab) {
        float: left;
        width: 50%;
        margin: 27px 0 0;
        max-width: 440px;
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
      }
      
      iframe {
        width: 100%;
        height: 100%;
        max-height: 171px;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        
        
        @include breakpoint($bp-tab) {
          max-height: 248px;
          bottom: auto;
          top: 0;
        }
      }

    }
	

    /*  iframe {
        max-width: 100%;
      }*/
    }
  }
}

.view-memberships {
  
  ul.quicktabs-tabs {
    @extend .no-list;
    @include clearfix;
    
    li {
      font-family: $dr;
      @include rem(font-size, 42px);
      text-transform: uppercase;
      text-align: center;

  	  @include breakpoint($bp-desk) {
        float: left;
        width: 33.33%;
  	  }
      
      a {
        display: block;
        background: $color-silver;
        color: $color-white;
        text-decoration: none;
        padding: 10px 0;

    	  @include breakpoint($bp-desk) {
          padding: 50px 0;
    	  }
        
        &:hover {
          opacity: .7;
        }
        
        &:after {
          content: "$1";
          color: $color-black;
          margin-left: 10px;
        }
      }
      
      &:nth-of-type(2) {

    	  @include breakpoint($bp-desk) {
          padding: 0 3px;
    	  }
        
        a {
          background: $color-gold;
        
          &:after {
            content: "$5";
          }
        }
      }
      
      &:nth-of-type(3) {
        
        a {
          background: $color-platinum;
        
          &:after {
            content: "$10";
          }
        }
      }
    }
  }
  
  .quicktabs_main {
    
    .membership-info {
      padding: 20px;

  	  @include breakpoint($bp-desk) {
        float: left;
        width: 50%;
        padding: 85px 90px 130px 110px;
  	  }

  	  @include breakpoint($bp-full) {
        width: 38%;
  	  }
    }
    
    .views-field-title {
  		font-family: $dr;
  		color: $color-silver;
  		line-height: .9;
  		text-transform: uppercase;
  		@include rem(font-size, 42px);
  		margin-bottom: 20px;

  	  @include breakpoint($bp-desk) {
  			@include rem(font-size, 62px);
  	  }
    }

    .views-field-field-product-description {
  		font-family: $sr;
  		color: $color-white;
  		@include rem(font-size, 18px);
      line-height: 1;
  		text-transform: uppercase;
  		margin-bottom: 20px;
    }

    .views-field-field-price {
      position: relative;
  		font-family: $dr;
  		color: $color-orange;
  		line-height: .9;
  		text-transform: uppercase;
  		@include rem(font-size, 42px);
  		margin-bottom: 70px;

  	  @include breakpoint($bp-desk) {
  			@include rem(font-size, 88px);
  	  }
      
      .views-label {
        position: relative;
    		@include rem(font-size, 22px);
        top: -15px;

    	  @include breakpoint($bp-desk) {
    			@include rem(font-size, 68px);
    	  }
      }
      
      .field-content {
        display: inline;
        
        div {
          display: inline;
        }
      }
    }

    .views-field-field-membership-product-referen {
      
      .form-submit {
        border: 2px solid $color-white;
        color: $color-white;
        background: transparent;
    		@include rem(font-size, 22px);
        font-family: $dr;
        text-transform: uppercase;
        display: block;
        height: 64px;
        padding: 0 90px;
        
        &:hover {
          border-color: $color-orange;
          background: $color-orange;
        }
      }
    }
    
    .views-field-body {
      padding: 20px;
  		color: $color-white;

  	  @include breakpoint($bp-desk) {
        float: left;
        width: 50%;
        padding: 85px 0 130px;
  	  }

  	  @include breakpoint($bp-desk) {
        width: 38%;
  	  }
      
      strong {
  		  font-family: $sr;
      }
      
      h2 {
  		  font-family: $rw;
    		@include rem(font-size, 18px);
        letter-spacing: 2px;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      
      .note-billing {
        color: $color-gray-9;
  		  font-family: $rw;
    		@include rem(font-size, 18px);
        font-weight: 300;
        margin-bottom: 50px;
      }
      
      h3 {
        color: $color-silver;
        font-family: $tgc;
    		@include rem(font-size, 25px);
        margin-bottom: 40px;
        
        span {
          color: $color-white;
        }
      }
      
      ul {
        @extend .no-list;

        li {
          font-family: $rw;
          position: relative;
          padding: 0 0 10px 10px;
          
          &:before {
            content:"";
            background: $color-orange-secondary;
            display: block;
            position: absolute;
            top: 10px;
            left: 0;
            height: 4px;
            width: 4px;
            border-radius: 100%;
          }
        }
      }
    }
    
    .quicktabs-tabpage {
      
      &:nth-of-type(2) {
        
        .views-field-title {
      		color: $color-gold;
        }
        
        .views-field-body {
      
          h2 {
            margin-bottom: 10px;
          }
      
          h3 {
            color: $color-gold;
          }
        }
      }
      
      &:nth-of-type(3) {
        
        .views-field-title {
      		color: $color-platinum;
        }
        
        .views-field-body {
      
          h2 {
            margin-bottom: 10px;
          }
      
          h3 {
            color: $color-platinum;
          }
        }
      }
    }
  }
  
  // diamond
  .attachment {
    background: #505050 url(../images/diamondboat.jpg) no-repeat 50% 0;
    float: left;
    width: 99%;
    padding: 330px 0 200px;
    position: relative;
    
    @include breakpoint($bp-tab) {
      padding-bottom: 120px;
    }
    
    @include breakpoint($bp-desk) {
      padding-bottom: 60px;
    }
    
    .quicktabs-tabs {
      display: none;
    }
    
    .quicktabs_main {
      .views-field-title {
        display: none;
      }
      
      h2.diamond-title {
        color: $color-white;
    		@include rem(font-size, 45px);
        letter-spacing: 10px;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 134px;
        @include breakpoint($bp-tab) {
          letter-spacing: 15px;
        }
        
        span.diamond-icon {
          background: url(../images/diamond.png) no-repeat 0 0;
          display: block;
          margin: 0 auto;
          width: 68px;
          height: 64px;
          position: relative;
          
          @include breakpoint($bp-desk) {
            display: inline-block;
            margin: 0 27px 0 13px;
            top: 16px;
          }
        }
      }
      
      h4 {
        font-family: $rw;
        font-weight: 700;
    		@include rem(font-size, 16px);
        letter-spacing: 2px;
      }
      
      .views-field-body {
        
        @include breakpoint($bp-desk) {
          width: 49%;
        }
        
        h3 {
          color: $color-orange;
        }
        
        ul {
          li {
            font-family: $rw;
            @include rem(font-size, 16px);
            line-height: 1.5;
            padding: 0 0 10px 10px; 
	
          }
        }
        
      }
    }
      
    a.button-outline {
      @include rem(font-size, 22px);
      padding: 19px 58px;
      position: absolute;
      left: 30px;
      bottom: 30px;
      
      @include breakpoint($bp-tab) {
        left: 51%;
        bottom: 60px;
      }
    }
    
    .views-field-field-membership-product-referen {
      position: absolute;
      right: auto;
      left: 30px;
      bottom: 130px;
      
      @include breakpoint($bp-tab) {
        right: 51%;
        left: auto;
        bottom: 60px;
      }
    }
  }
}