body.page-store {

  h1 {
    display: none;
  }
  .l-main {
    padding: 50px
  }

  .view-store {
    background: $color-gray-medium-dark;
//    padding: 0 10px;

    h1 {
      display: inline;
    }

    .view-header {
      background-color: #000000;
      background-image: url(../images/dfc-product-banner.jpg);
      padding-top: 50px;
      height: 235px;
      width: 100%;
      text-align: center;

      h1 {
        color: $color-white;
        font-family: "dangerregular", Helvetica, sans-serif;
        font-size: 56px;
      }

      h2 {
        color: $color-orange;
        font-family: "dangerregular", Helvetica, sans-serif;
        font-size: 56px;
      }

      h4 {
        color: $color-white;
        font-size: 30px;
      }
    }

    .view-content {
      clear: both;
      margin: 0 auto;
      padding: 26px 0;
      position: relative;
    }

    .views-row {
      background-color: #000000;
      margin: 20px 0;
      overflow: hidden;
      height: 340px;
      width: 300px;

      .views-field {
        margin: 0 10px;
      }

      .views-field-field-image {
        margin: 0;
      }

      .views-field-title {
        color: #FFFFFF;
        font-family: "dangerregular", Helvetica, sans-serif;
        font-size: 30px;
        text-transform: uppercase;
      }

      .views-field-field-image,
      .views-field-field-product-image {
        margin: 0;

        img {
          max-height: 200px;
        }
      }

      .views-field-commerce-price {
        font-family: 'sanchezregular';

        .pts-value {
          color: $color-orange;
          font-weight: bold;
        }
      }

      .views-field-field-image-1 {
        margin: 0;

        img {
        }
      }
    }
  }
}

body.node-type-product-display {
  .l-main {
    padding: 50px;

    .back-banner {
      background-color: $color-orange;
      color: $color-white;
      height: 50px;
      padding: 10px;

      a, a:visited {
        color: $color-white;
        font-family: "dangerregular", Helvetica, sans-serif;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }

    .l-content {
      background: $color-white;
      color: $color-black;

      .content {
        padding: 20px;
      }

      .sidebar {
        margin-left: 620px;
      }

      h1 {display: none;}

      .node {
         h1 {
           display: block;
         }

        .main-content {
          float: left;
          width: 535px;

          #main-image {

            img {
              width: 535px;
            }
          }

          .field-field-product-image {
            margin: 10px 40px 10px 10px;

            .field--product-image {
              display: inline-block;

              img {
                border: 1px solid $color-black;
                height: 60px;
                width: 60px;
                margin: 10px;
                padding: 5px;
              }

              img:hover {
                border-color: $color-gray-ae;
              }
            }
          }

          .images-enlarge {
            cursor: pointer;
            float: right;
            font-family: 'sanchezregular';
            font-weight: 600;
            font-size: 18px;
            padding-top: 20px;
            text-align: right;
          }
        }

        .title {
          font-family: "dangerregular", Helvetica, sans-serif;
          font-size: 36px;
        }

        .form-item-attributes-field-product-color {
          display: inline-block;
        }

        .form-type-commerce-fancy-attributes {
          margin-bottom: 0;
        }

        .form-item-attributes-field-product-color {
          label {
            display: none;
          }
        }

        .inline {
          display: inline-block;
        }

        #edit-submit {
          background-color: $color-orange;
          border: 0;
          color: $color-white;
          font-family: "dangerregular", Helvetica, sans-serif;
          font-size: 18px;
          font-weight: bold;
          height: 60px;
          width: 260px;
          text-transform: uppercase;
        }

        #edit-submit:hover {
          background-color: $color-gray-medium-dark;
          color: $color-orange;
        }
      }
    }
  }

  #block-views-store-block-1 {
    background: $color-white;
    color: $color-black;
    padding: 20px 50px;

    h2.block__title {
      color: $color-orange;
      font-size: 36px;
      text-transform: uppercase;
    }

    .views-field-title {
      font-family: "dangerregular", Helvetica, sans-serif;
      font-size: 22px;
    }
    .views-field-field-product-image {

      img {
        border: 1px solid $color-gray-light;
        width: 200px;
      }
    }

    .views-field-commerce-price {
      font-family: 'sanchezregular';

      .pts-value {
        color: $color-orange;
        font-weight: bold;
      }
    }
  }
}