/*			  
body.not-logged-in  #edit-account{width: 31%; float:left; margin: 0px 35px 0px 0px;}
body.not-logged-in  #commerce-userpoints-discount-cart-contents-wrapper{width: 31%; float:right;}
body.not-logged-in  #edit-customer-profile-billing{width:31%; float:left;}
body.not-logged-in  #edit-customer-profile-shipping{width: 28.5% !important;float: left !important;margin: 0px 0px 0px 0px !important; position:absolute !important; margin-top: 100px !important;}
body.not-logged-in  #commerce-userpoints-discount{width:31% !important; float:left !important; margin: 1% 0% 1% 3.3% !important;}
body.not-logged-in  #commerce-checkout-coupon-ajax-wrapper{width:31% !important; float:right !important; margin: 0px !important;}
body.not-logged-in  #edit-buttons{width:100% !important; float:right !important; margin-top: 30px !important;}
*/

body.page-checkout {
  fieldset {
    margin: 0;
    border: none !important;
    padding: 0 !important;
	}

  .l-main {
    background-color: $color-white;
    color: $color-gray-3;
    padding: 50px;

    .l-content h1 {
      background-color: $color-orange;
      color: $color-white; 
      font-family: $dr;
      font-size: 1.875rem;
      line-height: 58px;
      margin: -50px -50px 1.25rem;
      padding-left: 50px;
      text-transform: uppercase;
      min-height: 58px;
    }
    #commerce-userpoints-discount-cart-contents-wrapper {
      margin-bottom: 1em;
    }
    @include breakpoint($bp-desk) {
      #edit-account {
        float:left;
        margin: 0 0 1em;
        width: 31%;
      }
      #commerce-userpoints-discount-cart-contents-wrapper {
        float:right;
        margin-bottom: 0;
        width: 31%;
      }
      #edit-customer-profile-billing {
        clear: left;
        float:left;
        width: 31%;
      }
      #edit-customer-profile-shipping {
        float: left;
        margin: 0 3.5%;
        width: 31%;
      }
      #commerce-userpoints-discount {
        clear: left;
        float:left;
        margin: 1% 0;
        width: 31%;
      }
      #commerce-checkout-coupon-ajax-wrapper{
        float:left;
        clear: left;
        margin: 0;
        width: 31%;
      }
      #edit-buttons{
        clear: left;
        float:right;
        margin-top: 30px;
        width:31%;
      }
    }
  }

  table.views-table {
    background: $color-white;
    color: $color-gray-3;
    font-size: 13px;
    width: 100%;

    tr {
      border-bottom: 1px solid $color-gray-e;

      td {
        background: $color-white;
        padding: 25px 25px 25px 0;
      }
    }

    thead {
      border-bottom: none;	
      tr {
        th {
          background: $color-white;
          color: $color-orange;
          padding: 10px 10px 10px 0;
        }
      }
    }
  }
  
  .field--commerce-order-total
   {
	margin-top: 30px;
	background: $color-white;
    .commerce-price-formatted-components {
    width: 100%;
    margin-left: 0px;
    }
	
	tr
      {
	background: #FFF;	
   }

 	
  }

  .commerce-order-handler-area-order-total 
   {
    .commerce-price-formatted-components{
	   .component-title{
	     @include rem(font-size,14px);
	   }
	 } 
	
  }

  label
   {
	 @include rem(font-size,12px);
	color:$color-black;
	margin-bottom: 5px;
  }  
  
  input[type="text"],input[type="email"],input[type="tel"],select
   {
	border: 1px solid $color-gray-f;
	border-radius: 0px;
	xheight: 25px;
	width: 100%;
	font-size: 13px;
	color: $color-black;
	padding: 7px 5px;
  
  @include breakpoint($bp-desk) {
    max-width: 350px;
  }
  }
  
  div.addressfield-container-inline 
   {
   div.form-item{
     float: none;
	margin-right: 0px;
   }
	
  }
  
  #commerce-checkout-form-checkout
   {
	margin-top: 30px;	
  } 
  
  legend
   {
	color: $color-orange;
	font-family: $sr;
	@include rem(font-size, 16px);
	
  }


  #commerce-userpoints-discount {
    fieldset {
      /*
      border: 0;
      float: right;
      width: 510px;
      */
      .form-submit,
		input.form-submit[disabled]{
        border: 0px none;
        color: $color-white;
        font-size: 1.25rem;
        display: block;
        font-family: $dr;
        letter-spacing: 2px;
        padding: 15px 60px;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        background: $color-black;
        font-size: 14px;
        min-width: 275px;
        margin-left: auto;
      }

      .form-submit:hover,
		input.form-submit[disabled]:hover	  {
        background: $color-orange;
      }
    }
	.form-submit{
		float: left;
		
	}
  }
  
  
  .commerce_coupon{
	.form-submit {
        border: 0px none;
        color: $color-white;
        font-size: 1.25rem;
        display: block;
        font-family: $dr;
        letter-spacing: 2px;
        padding: 15px 60px;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        background: $color-black;
        font-size: 14px;
        min-width: 275px;
        margin-left: auto;
		float: left;
      }
	  .form-submit:hover {
        background: $color-orange;
      }
  }
  
  .checkout-buttons.form-wrapper{
	#edit-continue{
		background: $color-orange !important;
		border: 2px solid $color-orange !important;
		color: $color-white !important;
		clear: both;
	    font-size: 0.875rem;
        display: block;
		
        font-family: $dr;
        letter-spacing: 2px;
        padding: 15px 60px;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
 	    min-width: 275px;
	    margin-left: auto;
	}
	#edit-continue:hover{
		background: $color-black !important;
		color: $color-orange!important;
	}
	.fieldset{
		@include breakpoint(min-width $bp530) {
			margin: 0 !important;
		}
	}
	.form-submit{
		@include breakpoint(max-width $bp530) {
			min-width: 100% !important;
		}
	}
	.button-operator
      {
	opacity: 0;
   }
   #edit-cancel,#edit-back{
   
   border: 2px solid $color-gray-9;
    color: $color-gray-9;
    font-size: 1.25rem;
    display: block;
    font-family: $dr;
    letter-spacing: 2px;
    padding: 15px 60px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
	background: $color-white;
	@include rem(font-size, 14px);
	min-width: 275px;
	margin-left: auto;
   
   }
   #edit-cancel:hover,#edit-back:hover{
    background: $color-orange;
	color: $color-white;
   }
	
  }
  .checkout-completion-message{
    .p:last-child a {
	
			  border: 0px none;
			font-size: 1.25rem;
			display: block;
			font-family: $dr;
			letter-spacing: 2px;
			padding: 15px 60px;
			text-decoration: none;
			text-transform: uppercase;
			vertical-align: middle;
			text-align: center;
			background: $color-black;
			color: $color-white;
			font-size: 14px;
			min-width: 275px;
			margin-left: auto;
			max-width: 355px;
			margin-left: 0px;
	
	
	   }
     
	   p:last-child a:hover
           {
	  background: $color-orange;
      }
	  p
           {
	     
	     xfont-family: $dr;
		 @include rem(font-size, 16px);
	     color:$color-gray-9;
     }


	
	}
	.checkout-help
	{
	color:$color-orange;
	font-family: $sr;
	@include rem(font-size, 16px);
	margin-bottom: 20px;
   }
	
}

body.page-cart {

  .l-main{
     background-color: $color-white;
    color: $color-gray-3;
    padding: 50px;
	
	 .l-content h1{
	  padding: 20px 50px;
    margin: -50px -50px 50px;
    background-color: $color-orange;
    min-height: 58px;
    font-size: 1.875rem;
	margin-bottom: 1.25rem;
	font-family: $dr;
	text-transform: uppercase;
	color: $color-white; 
	  }
	  
  }
  
   table.views-table
   {
	background: $color-white;
	color: $color-gray-3;
	width: 100%;
  
   
   tr{
   
      border-bottom: 1px solid $color-gray-e;
	  td{
	      padding: 25px;
	      background: $color-white;
		  
	  }
    }
	
	td,td a {
	
	  color: $color-gray-3;
	@include rem(font-size, 15px);
	line-height: 19px;
	
	}
	
	thead tr
	{
		border-bottom: 0px solid $color-black;	
	th 
     {
		color: $color-orange;
		background: $color-white;
		padding: 25px;
    }

    }
	
	
   	
    
  }
  
  .commerce-line-item-views-form input.delete-line-item
  {
	background: $color-white;
	border: 0px solid $color-white;
	text-indent: -9999px;
	background: url('../images/icon_cross.png') 0 0 no-repeat transparent;
	height: 8px;
	width: 8px;
	display: block;
  }
  
  .line-item-summary
  {
	margin-top: 30px;
 }



  table.checkout-review
   {
	@include rem(font-size, 13px);
		width: 100%;
	.pane-data-full
    {
	padding: 0px;	
    }
	.pane-title td
       {
	padding: 0px;
	font-weight: 400;
	padding-top: 30px;
   }

    tr
    {
	background: $color-white;
	 td  
    {
	padding: 0px;
    }
  }
 }
 .pane-title
  {
	color: $color-orange;
	font-family: $sr;
	@include rem(font-size, 14px);
	margin-bottom: 20px;
 }
  
 #edit-commerce-payment
  {
	border: 0px solid $color-white;
	padding: 0px;
	margin-top: 30px;
  }
 
  #edit-actions input#edit-checkout{
  background: $color-orange;
	color: $color-white;
	font-size: 14px;
	border:2px solid $color-orange;
  }
  
  #edit-actions input#edit-checkout:hover
     {
	background: $color-black;
	color: $color-orange;
	border:2px solid $color-orange;
   }
   
   #edit-actions input#edit-submit
    {
	float: left;
	margin-bottom: 20px;
	background: $color-white;
	color: $color-orange;
	font-size: 14px;
	border: 2px solid $color-orange;
  }
  #edit-actions input#edit-submit:hover
  {
	background: $color-black;
  }
  
  div.addressfield-container-inline 
   {
    div.form-item{
	
	 float: none;
	margin-right: 0px;
	
	}
	
 }



	
}