body.page-checkout {
  #commerce-userpoints-discount {
    fieldset {
      border: 0;
      float: right;
      width: 510px;

      .form-submit {
        border: 0px none;
        color: $color-white;
        font-size: 1.25rem;
        display: block;
        font-family: "dangerregular",Helvetica,sans-serif;
        letter-spacing: 2px;
        padding: 15px 60px;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        background: $color-black;
        font-size: 14px;
        min-width: 275px;
        margin-left: auto;
      }

      .form-submit:hover {
        background: $color-orange;
      }
    }
  }
}