body.node-type-landing-page.section-fab-52-resorts {

  .content-bottom {
    @include container;
    max-width: 1080px;
    @extend .row-padding;
  }
}

.block--bean-fab-52-resorts-top-block {
	position: relative;
	height: 220px;
	overflow: hidden;

  @include breakpoint($bp-desk) {
		height: 360px;
  }

  @include breakpoint($bp-full) {
		height: 400px;
  }
	
	.field--background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 220px;

	  @include breakpoint($bp-desk) {
			height: auto;
	  }
		
		img {
			height: 100%;
			max-width: none;
			width: auto;

		  @include breakpoint($bp-tab) {
				height: auto;
				max-width: 100%;
				width: 100%;
		  }
		}
	}

	.field--text {
		position: absolute;
		top: 0;
		left: 0;
		padding: 40px;

	  @include breakpoint($bp-desk) {
      background: rgba(0,0,0,0.5);
			width: 41.7%;
      height: 100%;
      left: 58.3%;
      right: 0;
      bottom: 0;
      padding: 105px 150px 0 90px;
	  }
	}
  
	.fab-pre-title {
		font-family: $sr;
		color: $color-white;
		line-height: 1;
    margin: 0 0 10px;
		text-transform: uppercase;

	  @include breakpoint($bp-full) {
			@include rem(font-size, 14px);
	  }
	}
	
	h1 {
		font-family: $dr;
		color: $color-green-light;
		line-height: .9;
		text-transform: uppercase;
		@include rem(font-size, 42px);
		margin-bottom: 10px;

	  @include breakpoint($bp-desk) {
			@include rem(font-size, 78px);
	  }
    
    span {
  		color: $color-white;

  	  @include breakpoint($bp-tab) {
        display: block;
  	  }
    }
	}

  .fab-subtitle {
		font-family: $dr;
    color: $color-white;
		@include rem(font-size, 20px);
		line-height: 1;
		text-transform: uppercase;
  }
}

.block--bean-fab-52-intro {
	background: $color-green;
  color: $color-white;
	padding: 30px 20px;
	font-family: $sr;

  @include breakpoint($bp-tab) {
		padding: 20px;
		@include rem(font-size, 14px);
  }
	
  @include breakpoint($bp-desk) {
		@include rem(font-size, 16px);
		line-height: 1.6;
		padding: 50px;
    float: left;
    width: 58.3%;
    min-height: 275px;
  }
}

.block--views-exp-resorts-block {
	background: $color-gray-9;
  color: $color-gray-3;
	padding: 30px 20px;

  @include breakpoint($bp-tab) {
		padding: 20px;
  }
	
  @include breakpoint($bp-desk) {
		padding: 55px 50px;
    float: left;
    width: 41.7%;
    min-height: 275px;
  }
  
  .views-exposed-form {
    label {
      color: $color-black;
      display: block;
      @include rem(font-size, 30px);
      font-family: $dr;
      font-weight: normal;
      line-height: 1;
      text-transform: uppercase;
      height: 66px;
      white-space: nowrap;
      
      &:before {
        @include use-sprite($icon-gps);
        float: left;
        margin: -3px 13px 0 0;
      }
    }
    input.form-text {
      border: 2px solid $color-gray-lighter;
      float: left;
      font-family: $sr;
      @include rem(font-size, 14px);
      padding: 15px 21px;
      width: 100%;
    }
    .views-exposed-widget {
      float: left;
      padding: 0;
      width: 210px;
      
      @include breakpoint($bp-tab) {
        width: 210px;
      }
      @include breakpoint($bp-desk) {
        width: 210px;
      }
      @include breakpoint($bp-full) {
        width: 330px;
      }
    }
    .views-exposed-widget.views-submit-button {
      background-color: $color-green-light;
      width: 50px;
      height: 53px;
      position: absolute;
      top: 96px;
      left: 230px;
      
      @include breakpoint($bp-tab) {
        top: 86px;
      }
      
      @include breakpoint($bp-desk) {
        top: 121px;
        left: 260px;
      }
      
      @include breakpoint($bp-full) {
        left: 380px;
      }
      &:before {
        @include use-sprite($icon-filter-search);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -8px 0 0 -12px;
        z-index: 1;
      }
        
      .form-submit {
        background: none;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        text-align: left;
        text-indent: -999em;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
      }
    }
  }
}

.block--views-resorts-block-1 {
  padding: 60px 0 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid $color-gray-3;
  
  .view-resorts {
  
    .views-row {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

.view-resorts {

  h2.block__title {
    font-family: $dr;
		@include rem(font-size, 38px);
    color: $color-green-light;
    text-transform: uppercase;
    
    span {
      color: $color-white;
    }
  }
  
  .views-row {
    @include container;
    padding-bottom: 55px;
    margin-bottom: 65px;
    border-bottom: 1px solid $color-gray-3;
  }
  
  .pager-load-more {
    @extend .no-list;
    margin-bottom: 60px;
    
    a {
      @extend .button;
    }
  }
}

.node.node--resort--teaser {
  
  .group-resort-first {
    margin-bottom: 20px;

	  @include breakpoint($bp-tab) {
	    width: 60%;
      margin: 0 auto;
	  }
    
    @include breakpoint($bp-desk) {
      float: left;
	    width: 40%;
    }
  }
  
  .field--image-gallery {
    
    .owl-controls {
      @extend .owl-control-bars3;
    }
    
    // point values too
    .pt-values {
      color: $color-white;
      font-family: $sr;
      @include rem(font-size, 15px);
      line-height: 1;
      margin: 16px 0;
      text-transform: uppercase;
      
      
      span {
        float: left;
        
        &:before {
          @include use-sprite($icon-video-filter);
          
          margin-top: -4px;
          opacity: 0.5;
          transform: scale(0.6,0.6);
          vertical-align: middle;
        }
        
        strong {
          color: $color-orange;
          font-family: $dr;
          @include rem(font-size, 16px);
          font-weight: normal;
        }
      }
      
      span.img {
        &:before {
          @include use-sprite($icon-image-filter);
          
          margin-top: -5px;
        }
      }
      span.vid {
        &:after {
          content: "";
          float: right;
          width: 2px;
          height: 13px;
          background: $color-gray-9;
          margin: 5px 10px 0 19px;
        }
      }
    }
  }
  
  .group-resort-last {
    
    @include breakpoint($bp-desk) {
      float: right;
	    width: 53%;
    }
  }
  
  .sharethis-buttons {

	  @include breakpoint($bp-tab) {
      float: right;
      margin: -9px 0;
      position: relative;
      padding-right: 80px;
	  }
  
    .st_twitter_custom,
    .st_facebook_custom {
      border: 0;
    }
  }
  
  .group-resort-price {
    position: relative;
    display: inline-block;
    font-family: $dr;
		@include rem(font-size, 16px);
    line-height: 1;
    
    &:before {
      content: "$$$$";
      color: $color-gray-6;
      position: absolute;
      top: -15px;
      right: -50px;
      width: 30px;
    }

    &:after {
      content: "$";
      color: $color-white;
      position: absolute;
      top: -15px;
      right: -50px;
      width: 30px;
    }
  }
  
  &.price-two-dollars  {
  
    .group-resort-price {

      &:after {
        content: "$$";
      } 
    }
  }
  
  &.price-three-dollars  {
  
    .group-resort-price {

      &:after {
        content: "$$$";
      } 
    }
  }
  
  &.price-four-dollars  {
  
    .group-resort-price {

      &:after {
        content: "$$$$";
      } 
    }
  }
  
  .field--resort-category {
    color: $color-orange;
    font-family: $dr;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    margin-bottom: 20px;
    
    &:after {
      content: "|";
      color: $color-gray-9;
      margin-left: 6px;
    }
  }

  .field--title-field {
    color: $color-white;
    font-family: $tgc;
		@include rem(font-size, 32px);
    line-height: 1;
    clear: both;
  }

  .field--location {
    color: $color-gray-9;
    font-family: $tgc;
		@include rem(font-size, 25px);
    line-height: 1;
    margin-bottom: 20px;
  }
  
  .field--product-description {
    font-family: $sr;
		@include rem(font-size, 15px);
    color: $color-white;
    margin-bottom: 10px;
  }
  
  .field--phone-number {
    font-family: $sr;
		@include rem(font-size, 15px);
    font-weight: bold;
    color: $color-white;
    line-height: 1;
    margin-bottom: 20px;

	  @include breakpoint($bp-tab) {
      display: inline-block;
      margin-bottom: 60px;
	  }
    
    &:before {
  		@include use-sprite($icon-phone);
      position: relative;
      top: 6px;
      margin-right: 5px;
    }
  }
  
  .field--website-link {
    font-family: $sr;
    font-weight: bold;
		@include rem(font-size, 15px);
    line-height: 1;
    margin-bottom: 20px;

	  @include breakpoint($bp-tab) {
      display: inline-block;
      margin-left: 20px;
      padding-left: 20px;
      margin-bottom: 60px;
      border-left: 1px solid $color-gray-6;
	  }
    
    a {
      color: $color-white;
    }
  }
  
  .field--link {
    clear: both;
    
    a {
      @extend .button;
    }
  }
  
  .node__links {
    display: none;
  }
}