body.page-store {

  h1 {
    display: none;
  }

  .view-store {
    background:$color-gray-36;
//  padding: 0 10px;


    img {
      float: left !important;
      margin: 0 0 20px;
    }

    h1 {
      display: inline;
    }

    .view-header {
      background-color: $color-black;
      background-image: url(../images/dfc-product-banner.jpg);
      padding: 36px 0 30px;
      width: 100%;
      text-align: center;

      h1 {
        color: $color-orange;
        font-family: $dr;
        @include rem(font-size, 64px);
        line-height: 55px;
        margin: 0 0 33px;
        text-transform: uppercase;
      }

      h2 {
        color: $color-white;
        font-weight: normal;
        @include rem(font-size, 64px);
        line-height: 55px;
      }

      h4 {
        color: $color-white;
        font-family: $sr;
        @include rem(font-size, 17px);
        //font-weight: bold;
        letter-spacing: 4px;
        margin: 0 0 10px;
        text-transform: uppercase;
      }
    }

    .view-content {
      clear: both;
      margin: 0 auto;
      padding: 0;
      position: relative;
	  
      .item-list{
        background: #363636 !important; 
        float: left; 
        display: block;
        padding: 0 0 10px !important;
        width:100%;
      }
      
      ul.adv-list {
        padding: 0 !important;
        margin: 20px !important;
        width: auto;
      }
      li.adv-row {
        float: left;
        display: block;
        min-height: 0;
        width: 100% !important;
        margin: 10px 0 !important;
		
		 @include breakpoint(min-width 665px) {
		  @include breakpoint(max-width 737px) {
		  min-height: 376px !important;	
		  }
		 }
		
        
        @include breakpoint($bp-tab) {
          width: 46% !important;
          margin: 2% !important;
          min-height: 479px;
        }
		

        @include breakpoint($bp-desk) {
          width: 30.5% !important;
          margin: 1.4% !important;
          min-height: 394px;
        }
      }
  
  
    }

	 
    .views-row {
      background-color: $color-black;

      .views-field {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0 30px;
        
        &.views-field-field-image,
        &.views-field-field-product-image {
          margin: 0;
          padding: 0;
        }
      }

      .views-field-title {
        color: $color-white;
        font-family: $dr;
        @include rem(font-size, 30px);
        line-height: 1;
        min-height: 90px;
        text-transform: uppercase;
      }
      .views-item-advertisement {
        .views-field-title {
          display: none;
        }
        
        
        .views-field.views-field-field-image-1 {
          padding: 0 !important;
          
          img {
            float: left;
            margin: 0 !important;
          }
        }
      }
      .views-field-commerce-price {
        font-family: $sr;
        padding-bottom: 18px;
        text-transform: uppercase;

        .pts-value {
          color: $color-orange;
          font-weight: bold;
        }
      }

      .views-field-field-image-1 {
        margin: 0;

        img {
          float: left;
          width: 100%;
        }
      }
    }
  }
}

body.node-type-product-display {

 .ajax-progress-throbber
 {
   display:none !important;
 }
  .l-main {

    .back-banner {
      background-color: $color-orange;
      color: $color-white;
      height: 50px;
      padding: 10px;

      a, a:visited {
        color: $color-white;
        font-family: $dr;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }

    .l-content {
      background: $color-white;
      color: $color-black;

      .content {
        padding: 20px;
      }

      h1 {display: none;}

      .node {
         h1 {
           display: block;
         }

        .main-content {
          float: left;
          width: 535px;

          #main-image {

            img {
              width: 535px;
            }
          }

          .field-field-product-image {
            margin: 10px 40px 10px 10px;

            .field--product-image {
              display: inline-block;

              img {
                border: 1px solid $color-black;
                height: 60px;
                width: 60px;
                margin: 10px;
                padding: 5px;
              }

              img:hover {
                border-color: $color-gray-ae;
              }
            }
          }

          .images-enlarge {
            cursor: pointer;
            float: right;
            font-family: $sr;
            font-weight: 600;
            @include rem(font-size, 18px);
            padding-top: 20px;
            text-align: right;
          }
        }

        .sidebar {
          font-family: $sr;
          margin-left: 620px;



          .field--body {
            margin-top: 20px;
          }

          .title {
            font-family: $dr;
            @include rem(font-size, 36px);
            text-transform: uppercase;
          }

          .field--commerce-price {
            display: inline-block;
            margin-bottom: 10px;
          }

          .points-value {
            color: $color-orange;
            font-weight: bold;
          }

          .attribute-widgets {
            display: block;
            min-width: 180px;

            .form-type-commerce-fancy-attributes {
              display: inline-block;
              height: 36px;
              width: 100%;
              margin-bottom: 0;
              margin-right: 10px;

              label {
                display: none;
              }

              .form-item-attributes-field-product-color {
                display: inline-block;
                width: 36px;
              }

              .commerce-fancy-attributes-color {
                height: 36px;
                width: 36px;
              }
            }
			
			

            .form-item-attributes-field-product-size {
              select {
                border: 1px #959595 solid;
                width: 150px;
              }
            }
          }
          .form-item-quantity {
            display: inline-block;
            margin-left: 10px;
          }
          #edit-line-item-fields,
          .inline {
            display: block !important;
          }

          #edit-submit {
            background-color: $color-orange;
            border: 0;
            color: $color-white;
            font-family: $dr;
            @include rem(font-size, 18px);
            font-weight: bold;
            height: 60px;
            width: 260px;
            text-transform: uppercase;
			border: 2px solid $color-orange;
          }

          #edit-submit:hover {
            background: $color-black;
		   color: $color-orange;
           text-decoration: none;
          }
        }
      }
    }
	.form-wrapper{display: inline-block;}	
	 .form-submit {
            background-color: $color-orange;
            border: 0;
            color: $color-white;
            font-family: $dr;
            @include rem(font-size, 18px);
            font-weight: bold;
            height: 60px;
            width: 260px;
            text-transform: uppercase;
			border: 2px solid $color-orange;
          }
		  

         .form-submit:hover {
            background: $color-black;
		    color: $color-orange;
            text-decoration: none;
          }
		  
  }

  #block-views-store-block-1 {
    background: $color-white;
    color: $color-black;
    padding: 20px 50px;

    h2.block__title {
      color: $color-orange;
      font-size: 36px;
      text-transform: uppercase;
    }

    .views-field-title {
      font-family: $dr;
      @include rem(font-size, 25px);
      text-transform: uppercase;
    }
    .views-field-field-product-image {

      img {
        border: 1px solid $color-gray-light;
        width: 200px;
      }
    }

    .views-field-commerce-price {
      font-family: $sr;

      .pts-value {
        color: $color-orange;
        font-weight: bold;
      }
    }
  }
}