body.section-dfc-prizeboard {
  .content-bottom {
    padding-bottom: 65px;
    position: relative;
  }

  // background colors
  .footer-top {
    background: $color-gray-36;
    float: left;
    width: 100%;
    .block--dfc-convert-points-next-timed-giveaway-countdown {
      background: $color-white;
      color: $color-black;
      float: left;
      width: 100%;
      padding: 30px 0;
      
      .inner {
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 40px;
        
        .countdown-text {
          font-family: $rw;
          @include rem(font-size, 20px);
          line-height: 1.1;
          float: left;
          width: 100%;
          
          @include breakpoint($bp-desk) {
            width: 50%;
          }
          
          .countdown-title {
            font-family: $dr;
            @include rem(font-size, 37px);
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 15px;
            
            span {
              color: $color-orange;
            }
          }
          
          .countdown-ending-date {
            color: $color-gray-9;
          }
        }
        
        .jquery-countdown {
        /*
        <div class="jquery-countdown jquery-countdown-processed hasCountdown" id="jquery-countdown-giveaway-countdown-timed">
    <span class="countdown_row countdown_show4" id="jquery-countdown-giveaway-countdown-timed-span"><span class="countdown_section"><span class="countdown_amount">03</span><br>Days</span><span class="countdown_section"><span class="countdown_amount">10</span><br>Hours</span><span class="countdown_section"><span class="countdown_amount">55</span><br>Minutes</span><span class="countdown_section"><span class="countdown_amount">40</span><br>Seconds</span></span></div>
        */
          float: left;
          width: 100%;
          padding-top: 30px;
          
          @include breakpoint($bp-tab) {
            float: left;
            text-align: center;
            width: 100%;
          }
          @include breakpoint($bp-desk) {
            float: right;
            padding-top: 0;
            text-align: right;
            width: 50%;
          }
          .countdown_section {
            color: $color-black;
            
            
              &:after {
                color: $color-gray-36;
              }
          }
          .countdown_amount {
            background: $color-gray-e;
            
            &:before {
              background: $color-white;
            }
          }
        }
      }
    }
    
    .block--views-banner-ads-block {
      float: left;
      margin-top: 60px;
      width: 100%;
    }
    
    .block--views-timed-giveaways-block {
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  .l-footer {
    float: left;
    width: 100%;
  }
}
// countdownz
.block--dfc-convert-points-double-giveaway-countdown {
  .countdown-block-month-1,
  .countdown-block-month-2 {
    background: $color-gray-36;
    font-family: $rw;
    @include rem(font-size, 20px);
    line-height: 1;
    padding: 30px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 205px;
    
    @include breakpoint($bp-tab) {
      width: 50%;
    }
    @include breakpoint($bp-desk) {
      padding: 30px 45px;
    }
    
    .countdown-date {
      color: $color-gray-9;
    }
    
    .jquery-countdown {
      float: left;
      margin-top: 20px;
      text-align: left;
      width: 100%;
      
      @include breakpoint($bp-tab) {
        float: left;
        text-align: left;
        width: 100%;
      }
    }
  }
  .countdown-block-month-1 {
    top: 426px;
  }
  .countdown-block-month-2 {
    top: 999px;
    
    @include breakpoint($bp-tab) {
      top: 426px;
      left: 50%;
    }
  }
}

#block-bean-prizeboard {
 h2.block__title{
/* what is this? not sass... */
    background-color: $color-orange;
    color: $color-white;
    font-family: $dr;
    @include rem(font-size, 30px);
    height: 58px;
    line-height: 58px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
	padding-left:32px;
    text-transform: uppercase;
   }
   
   .fishing_trip_clubhouse{
   
      background-image: url("../images/clubhouse-img.jpg");
	  background-size: 600px !important;
	  width:50%;
	  background-size: cover !important;
	  height: 368px; 
    }
	
	.fab_resort{
	
	   background-image: url("../images/fab52-img.jpg");
	   width:50%;
	   background-size: cover !important;
	   
	
	}
  

  #block-bean-prizeboard .fishing_trip_clubhouse {    
  background-image: url("../images/clubhouse-img.jpg");
  width: 100%;    
  background-size: cover;
  }
.clubhouse-dfc {    width: 50%;    display: inline-block;    float: left; background-size: cover; margin-bottom: 205px; }

.clubhouse-dfc .giveaway-counter {    background: #373737 none repeat scroll 0% 0%;
padding: 40px 0px 0px 30px;
margin-top: -20px;
min-height: 206px;}
.clubhouse-dfc .feb-52{padding-top:136px;}

.giveaway-counter h3{font-family: $rw;font-size: 20px;}
.giveaway-counter p{font-family: $rw; font-size: 20px; margin-top: 2px; color:#989898; }

.clubhouse-dfc .image-2{background-image: url("../images/fab52-img.jpg") !important;width: 100%;    min-height: 360px;    background-size: cover !important;}

.clubhouse-dfc .fishing_trip_clubhouse{width:100%;}
.clubhouse-dfc h2 {  padding-top: 121px;
margin: 0 auto;
font-size: 37px;
text-align: center;
text-transform: uppercase;
width: 209px; line-height: 0.85;
border-bottom: 12px solid #FD6631;
padding-bottom: 7px;font-family: $dr;}
  

  
  
.Official-bottom .how-to-win {    display: block;    float: left;    width: 50%;    padding: 57px 0px 0px 30px;}
.Official-bottom .how-to-win  h2{font-size: 37px;}
.Official-bottom .how-to-win  h3{color:#707070; font-size:25px; font-family:$tgc;}
.Official-bottom .how-to-win  p{margin-top: 3px;font-family:$rw; font-size:16px; font-weight: 400;}
.Official-bottom .how-to-win  li {   font-family:$rw; font-weight: light; font-size:14.5px; margin-left: -22px; font-weight:400;}
.Official-bottom .how-to-win a{font-family:$rw; font-weight: light; font-size:14.5px; font-weight: 400 !important;}
.Official-bottom .how-to-win a:hover{color:#fff;}
.Official-bottom .how-to-win  .button {    margin-top: 58px;    padding: 10px 30px 10px 30px !important;    margin-right: 10px; font-family: $tgc; font-size:15.5 !important; height:51; width:228px;}

.Official-bottom .current-resort {    display: block;    float: left;    width: 50%;    padding: 63px 0px 0px 30px;}
.Official-bottom .current-resort .first-h3{color:#ED604C;font-family:$tgc; font-size:26px; line-height: 1.1;}
.Official-bottom .current-resort h3{color:#707070; font-size:26px; font-family:$tgc;}

.Official-bottom .current-resort li{font-family:$rw; font-weight: 100 !important; font-size:14.5px; margin-left: -22px; font-weight: 400 !important;}
  .current-resort a{  font-family: $rw; font-size: 14.5px; font-weight: 100 !important; font-weight: 400 !important;}
  .current-resort a:hover{color:#fff;}

.Official-bottom .current-resort p{margin-top: 3px; font-family:$rw; font-size:16px; font-weight: 400; }
.Official-bottom .current-resort li {    font-weight: 700;}
.Official-bottom .current-resort .button {   margin-top: 120px;    padding: 10px 30px 10px 30px !important;    margin-right: 10px; font-family: $tgc; font-size:15.5 !important;height:51; width:228px;}



}


/* ugh. and then */
// prizeboard weekly prizes view stuff
.view-timed-giveaways {
  float: left;
  width: 100%;
  
  @include breakpoint($bp-desk) {
    padding-top: 60px;
    position: relative;
  }
  
  ul.adv-list {
    padding: 0;
    margin: 0;
  }
  
  .view-content {
    margin: 0 auto;
    padding: 0;
    position: relative;
    
    li.adv-row {
      display: block;
      float: left;
      width: 100% !important;
      min-height: 548px;
    
      @include breakpoint($bp-desk) {
        width: 31.33% !important;
        margin: 1% !important;
	  }
	  
	  @include breakpoint(min-width 320px) {
       @include breakpoint(max-width $bp767) {
	   
	        min-height: 548px !important;
	   }
	  }
	  
    }


  }
  
  
  .attachment {
    float: left;
    width: 100% !important;
    
	.view-header {
         
          
          h2 {
            text-transform: uppercase;
            
            strong {
              font-weight: normal !important;
              color: $color-orange !important;
            }
          }
        }
		.view-footer {
    
          
          h2 {
            text-transform: uppercase !important;
          }
        }
		
		
		
	  @include breakpoint($bp-desk) {
      width: 31.33% !important;
      margin: 1% !important;
      
      .view-timed-giveaways {
        padding-top: 0;
      
        .view-content {
          li.adv-row {
            width: 100% !important;
            margin: 0 !important;
          }
        }
        
        .view-header {
          display: block;
          width: 100%;
          position: absolute;
          left: 1%;
          top: -3em;
          
          h2 {
            text-transform: uppercase;
            
            strong {
              font-weight: normal;
              color: $color-orange;
            }
          }
        }
        
        .view-footer {
          display: block;
          width: 100%;
          position: absolute;
          left: 106%;
          top: -3em;
          
          h2 {
            text-transform: uppercase;
          }
        }
      }
    }
	
		  
  }

 
  .views-row {
    background-color: $color-black;
    margin: 20px 0;
    overflow: hidden;
    height: 340px;
    width: 300px;

    .views-field {
      margin: 0 10px;
    }

    .views-field-field-image {
      margin: 0;
    }

    .views-field-title {
      color: $color-white;
      font-family: $dr;
      @include rem(font-size, 30px);
      line-height: 0.85;
      text-transform: uppercase;
    }

    .views-field-field-image,
    .views-field-field-product-image {
      margin: 0;

     /* img {
        max-height: 200px;
      }*/
    }

    .views-field-commerce-price {
      font-family: $sr;

      .pts-value {
        color: $color-orange;
        font-weight: bold;
      }
    }

    .views-field-field-image-1 {
      margin: 0;

      img {
      }
    }
  }
}


.view-timed-giveaways .attachment .view-timed-giveaways .view-content li.adv-row {
    width: 100% !important;
    /*margin: 0 !important;*/
    border: 3px solid #FC6424;
}
.view-timed-giveaways .views-row .views-field-title {
    color: $color-white;
    font-family: $dr;
    font-size: 1.875rem !important;
   
	padding-top: 21px;
	padding-bottom:20px;
    line-height: 0.85 !important;
    text-transform: uppercase;
}
.view-timed-giveaways .views-row .views-field {
    margin: 0 30px;
}
.views-field.views-field-field-product-sponsor-name {
    color: #C44E2A;
    font-family: $rw;
    font-size: 18px;
    margin-bottom: 15px !important;
}
.views-field.views-field-body {
    color: #B4B5B4;
    font-family: $rw;
    font-size: 17px;
    font-weight: 400;
}

@media only screen and (max-width: 589px){

.clubhouse-dfc {    width: 100% !important;    display: inline-block;    float: left;background-size: cover;}
    .Official-bottom .how-to-win {    display: block;    float: left;    width: 100% !important;    padding: 30px;}
	.Official-bottom .current-resort {    display: block;    float: left;    width: 100% !important;    padding: 30px;}
	.clubhouse-dfc h2{margin-left: 18%;width: 202px !important;margin: 0 auto !important;}
	.Official-bottom .current-resort .button {   margin-top: 25px !important;    padding: 10px 30px 10px 30px !important;    margin-right: 10px; font-family: $tgc; font-size:15.5 !important;height:51; width:228px;}
	
	.Official-bottom .how-to-win  .button {    margin-top: 25px !important;  padding: 10px 30px 10px 30px !important;    margin-right: 10px; font-family: $tgc; font-size:15.5 !important;height:51; width:228px; }
	

}
@media only screen and (min-width: 590px) and (max-width: 959px){
.view-timed-giveaways .view-content li.adv-row {
    display: block;
    float: left;
    /*width: 275px !important;*/
	width: 48% !important;
    min-height: 548px;
	margin:1% !important;
	margin-bottom:2% !important;
}


	.clubhouse-dfc {    width: 50% !important;    display: inline-block;    float: left;background-size: cover;}
    .Official-bottom .how-to-win {    display: block;    float: left;    width: 50% !important;    padding: 30px;}
	.Official-bottom .current-resort {    display: block;    float: left;    width: 50% !important;    padding: 30px;}
	.clubhouse-dfc h2{margin-left: 18%;width: 209px !important;margin: 0 auto !important;}
	
	.Official-bottom .current-resort .button {   margin-top: 58px !important;    padding: 10px 10px 10px 10px !important;    margin-right: 10px; font-family: $tgc; font-size:15.5 !important;height:51; width:auto !important;}
	
	
	.Official-bottom .how-to-win  .button {    margin-top: 58px;    padding: 10px 10px 10px 10px !important;    margin-right: 10px; font-family: $tgc; font-size:15.5 !important; height:51; width:auto !important;}
	
	.view-timed-giveaways .attachment .view-timed-giveaways .view-content li.adv-row {
    width: 30% !important;     margin: 0px !important;     border: 3px solid #FC6424;}
	/*.view-footer {    width: 50%;    margin-top: -46px !important;    margin-left: 0px; left: 106%; top: -1.6em; position: relative;}*/
	
	
.view-timed-giveaways .attachment {
    float: left;
    /*width: 275px !important;*/
	width: 48% !important;
	margin:1% !important;
}
.view-timed-giveaways .attachment .view-timed-giveaways .view-content li.adv-row {
    width: 100% !important;
    margin: 0px !important;
    border: 3px solid #FC6424;
	margin-top:-26px !important;
}
.view-timed-giveaways ul.adv-list{margin-top:46px !important;}


}
@media only screen and (max-width: 589px){
.view-timed-giveaways .attachment .view-timed-giveaways .view-content li.adv-row{margin-bottom: 25px!important;}
}
