body.node-type-landing-page.section-leaderboard {


  .view-leaderboards {
    @include container;
    @extend .row-padding;
    text-align: center;
    margin-bottom: 60px;
    
    .view-content {
      @include clearfix;
    }
    
    .views-row {
      margin-bottom: 50px;
      font-family: $sr;
      color: $color-gray-9;
      @include rem(font-size, 14px);
      text-align: center;

  	  @include breakpoint($bp-tab) {
        text-align: left;
        float: left;
        width: 50%;
  	  }

  	  @include breakpoint($bp-desk) {
        width: 25%;
        padding-right: 30px;
  	  }
      
      &:nth-of-type(2n+1) {

    	  @include breakpoint($bp-tab) {
          clear: left;
    	  }

    	  @include breakpoint($bp-desk) {
          clear: none;
    	  }
      }
      
      &:nth-of-type(4n+1) {

    	  @include breakpoint($bp-desk) {
          clear: left;
    	  }
      }
    }
    
    .views-field-picture {
      margin-bottom: 30px;
      
      img {
        width: 100px;
        border-radius: 100px;
        overflow: hidden;
        border: 2px solid $color-white;
      }
    }
    
    .views-field-counter {
      font-family: $dr;
      color: $color-orange;
      @include rem(font-size, 33px);
      line-height: .9;
      margin-bottom: 15px;
      
      &:after {
        content: ".";
      }
    }

    .member-name  {
      color: $color-white;
      text-transform: uppercase;
      @include rem(font-size, 15px);
      margin-bottom: 5px;
    }

    .views-field-field-first-name,
    .views-field-field-last-name {
      display: inline-block;
    }
    
    .field--city-state {
      @include rem(font-size, 12px);
      margin-bottom: 20px;
    }
    
    .views-field-lifetime-points,
    .views-field-monthly-points {

      .field-content {
        color: $color-orange;
      }
    }
    
    .pager {
      @extend .no-list;
      margin-bottom: 30px;

  	  @include breakpoint($bp-desk) {
        float: right;
        width: 22%;
  	  }
      
  	  @include breakpoint($bp-full) {
        width: 22.8%;
  	  }
      
      li {
        
        a {
          @extend .button-to-gray;
          display: block;
          padding-left: 0;
          padding-right: 0;
        }
      }
      .pager-current {
        display: none;
      }
      .pager-next a {
        margin-top: -24px;
      }
    }
    
    .view-footer {
      margin-bottom: 60px;
    }
    
    .leader-board-links {
      margin-bottom: 40px;
      @include clearfix;
      
      .link {

    	  @include breakpoint($bp-desk) {
          float: left;
          width: 30.6%;
          margin-right: 20px;
    	  }

    	  @include breakpoint($bp-full) {
          width: 31.1%;
    	  }
      }
      
      a {
        @extend .button;
        margin-bottom: 30px;
        display: block;
        padding-left: 0;
        padding-right: 0;
      }
    }
    
    .leaderboard-text {
      @include rem(font-size, 14px);
      font-family: $sr;
      color: $color-white;
      clear: both;

  	  @include breakpoint($bp-desk) {
        margin: auto;
        width: 54%;
  	  }
    }
  }
}

.content-bottom .block {
  float: left;
  width: 100%;
  
  .inner,
  .view-user-ranking .view-content {
    float: left;
    width: 100%;
  }
}