body.node-type-landing-page.section-blog {
  
  .block--views-blog-block {
    
    h2.block__title {
      background-color: $color-orange;
      height: 58px;
      line-height: 58px;
      margin: 0;
      font-family: $dr;
      @include rem(font-size, 30px);
      text-transform: uppercase;
      color: $color-white;
  		padding: 0 20px;

  	  @include breakpoint($bp-desk) {
  			padding: 0 50px;
  	  }
    }
    
    .view-blog {
      padding: 20px;
      background: $color-white;

  	  @include breakpoint($bp-desk) {
        padding: 50px;
  	  }
    }
    
    .views-row {
      @include clearfix;
      margin-bottom: 20px;

  	  @include breakpoint($bp-desk) {
        margin-bottom: 50px;
  	  }
    }
    
    .views-field-title {
      font-family: $dr;
      @include rem(font-size, 30px);
      margin-bottom: 10px;
      line-height: 1;
      
      a {
        color: $color-orange;
        text-decoration: none;
        
        &:hover {
          color: $color-default;
        }
      }
    }

    .views-field-field-image {
      margin-bottom: 10px;

  	  @include breakpoint($bp-tab) {
        float: left;
        max-width: 40%;
        margin-right: 20px;
  	  }

  	  @include breakpoint($bp-desk) {
        max-width: 30%;
  	  }

  	  @include breakpoint($bp-full) {
        max-width: 20%;
  	  }
    }

    .views-field-body {}

    ul.pager {
      @extend .load-more;
    }
  }
}