// Clubhouse Feature

.block--bean-clubhouse-intro-text{
.field--text{
  h2{
	font-size: 2.375rem;
	margin-bottom: 10px;
	width: 100%;
  }
	
p {  font-family: $sr;
	@include rem(font-size, 14px);
	line-height: 1.5;
  }
	
}

}
.block--bean-clubhouse-feature {
	position: relative;
	height: 270px;
	overflow: hidden;

	
  @include breakpoint($bp-desk) {
		height: 460px;
  }

  @include breakpoint($bp-full) {
		height: 566px;
  }
	
	.field--background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 270px;

	  @include breakpoint($bp-desk) {
			height: auto;
	  }
		
		img {
			height: 100%;
			max-width: none;
			width: auto;

		  @include breakpoint($bp-tab) {
				height: auto;
				max-width: 100%;
				width: 100%;
		  }
		}
	}
	
	.field--text {
		position: absolute;
		top: 0;
		left: 0;
		padding: 40px;

	  @include breakpoint($bp-desk) {
			width: 50%;
	  }
	}
	
	.ch-pre-title {
		font-family: $sr;
		color: $color-orange;
		line-height: 1;
		text-transform: uppercase;

	  @include breakpoint($bp-full) {
			@include rem(font-size, 14px);
	  }
	}
	
	h1 {
		font-family: $dr;
		color: $color-white;
		line-height: 1;
		text-transform: uppercase;
		@include rem(font-size, 42px);
		margin-bottom: 10px;

	  @include breakpoint($bp-desk) {
			@include rem(font-size, 72px);
	  }
	}
 
 	.ch-feature-link {
 		
		a {
			@extend .button-clear;
		}
 	}
}


// Clubhouse Intro Text
.block--bean-clubhouse-intro-text {
	background: $color-orange;
	padding: 30px 20px;
	color: $color-white;
	font-family: $sr;

  @include breakpoint($bp-tab) {
		float: left;
		width: 100%;
		padding: 20px;
		@include rem(font-size, 14px);
		height: 240px;
		overflow: hidden;
  }
    @include breakpoint($bp-desk) {
		float: left;
		width: 100%;
		padding: 20px;
		@include rem(font-size, 14px);
		height: 240px;
		overflow: hidden;
  }
	
  @include breakpoint($bp-desk) {
		width: 66.44%;
		@include rem(font-size, 16px);
		line-height: 1.6;
		height: 250px;
		padding: 50px 50px;
  }	

  @include breakpoint($bp-full) {
		line-height: 1.6;
  }
}


// Clubhouse Boat Tour
.block--bean-clubhouse-boat-tour  {
	height: 250px;
	overflow: hidden;
	position: relative;

  @include breakpoint(min-width 320px){
	   @include breakpoint(max-width 667px) {
			height: 250px !important;
	  }
  }
  
  @include breakpoint(min-width $bp-under_tab){
	   @include breakpoint(max-width 800px) {
			height: 250px !important;
	  }
  }
  
  @include breakpoint($bp-tab) {
		float: left;
		width: 100%;
		height: 550px;
  }
	
  @include breakpoint($bp-desk) {
		width: 33.56%;
		height: 250px;
  }
	
	.field--background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 226px;
	
	  @include breakpoint($bp-tab) {
			height: 240px;
	  }
	
	  @include breakpoint($bp-desk) {
			height: 280px;
	  }
		
		img {
			height: 100%;
			max-width: none;
			width: auto;
			
	   @include breakpoint(min-width 767px){
	   @include breakpoint(max-width 800px) {
			height: 250px !important;
			width: 100%;
			margin-bottom:250px !important;
	  }
  }
	
	@include breakpoint(min-width 320px){
	   @include breakpoint(max-width 667px) {
			height: 250px !important;
			height: auto;
			width: 100% !important;
	  }
  }
		  
		  @include breakpoint(max-width $bp-mobile) {
				
		  }
		}
	}
	
	.ch-tour-link {
		position: absolute;
		top: 220px !important;
		left: 30px;
		width: 100%;
		text-transform: uppercase;
		font-family: $sr;
	
	 @include breakpoint(min-width 320px){
	   @include breakpoint(max-width 400px) {
			top: 197px !important;
	   }
	 }
	  
	  @include breakpoint($bp-tab) {
			top: 180px;
	  }
	
	  @include breakpoint(min-width 767px){
	   @include breakpoint(max-width 800px) {
			top: 191px !important;
	    }
	  }
	 

	  @include breakpoint($bp-full) {
			top: 220px;
	  }
		
		a {
			position: relative;
			display: block;
			color: $color-white;
			padding: 4px 0 0 70px;
			
			&:before {
				@include use-sprite($icon-video);
				position: absolute;
				top: 0;
				left: 0;
				
				   @include breakpoint(min-width 320px){
						@include breakpoint(max-width 800px) {
						background-position: -477px 0px !important;
						}
				   }
		}
	}
 }
}

// Clubhouse Slideshow
.block--bean-clubhouse-slideshow {
	position: relative;
	clear: both;
	
  @include breakpoint($bp-desk) {
		float: left;
		width: 66.44%;
		height: 423px;
		top: 0px;
  }
  
  
	
  @include breakpoint($bp-full) {
		height: 520px;
  }
	
	.owl-carousel {

		.owl-controls {
		  @extend .owl-control-bars3;
		}
	}
}


// Clubhouse Features
.block--bean-clubhouse-features-and-highlight {
	padding: 30px 20px;
	color: $color-white;
	font-family: $sr;
	@include rem(font-size, 14px);
	
  @include breakpoint($bp-desk) {
		float: right;
		width: 33.56%;
		height: 423px;
		padding: 20px;
  }
	
  @include breakpoint($bp-full) {
		height: 520px;
		padding: 40px;
  }
	
	h2 {
		font-family: $dr;
		text-transform: uppercase;
		@include rem(font-size, 36px);
		line-height: 1;
		color: $color-white;

	  @include breakpoint($bp-desk) {
			margin-bottom: 10px;
	  }

	  @include breakpoint($bp-full) {
			@include rem(font-size, 38px);
			margin-bottom: 30px;
			width: 60%;
	  }
		
		span {
			color: $color-orange;
		}
	}
	
	ul {
		margin: 0;
		padding: 0 15px;
		
		li {
			margin-bottom: 5px;
	
		  @include breakpoint($bp-desk) {
				margin-bottom: 0;
		  }

		  @include breakpoint($bp-full) {
				margin-bottom: 5px;
		  }
		}
	}
}

// Clubhouse Book
.block--bean-clubhouse-book {
	position: relative;
	height: 400px;
	overflow: hidden;
	
  @include breakpoint($bp-desk) {
		clear: both;
		float: left;
		width: 66.44%;
		height: 690px;
  }
	
	.field--background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 400px;

	  @include breakpoint($bp-tab) {
			height: auto;
	  }
		
	  @include breakpoint($bp-desk) {
			height: 690px;
	  }
		
		img {
			height: 100%;
			max-width: none;
			width: auto;
	
		  @include breakpoint($bp-tab) {
				height: auto;
				max-width: 100%;
				width: 100%;
		  }
		
		  @include breakpoint($bp-desk) {
		    height: 100%;
		    max-width: none;
		    width: auto;
		  }
		}
	}
	
	.field--text {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 30px;

	  @include breakpoint($bp-desk) {
			padding: 0 0 80px 100px;
			width: 70%;
	  }
	}
	
	.ch-book-title {
		font-family: $dr;
		text-transform: uppercase;
		@include rem(font-size, 54px);
		line-height: 1;
		color: $color-orange;
		margin-bottom: 10px;

	  @include breakpoint($bp-desk) {
			@include rem(font-size, 72px);
	  }
	}
	
	.ch-book-text {
		font-family: $sr;
		@include rem(font-size, 20px);
		color: $color-gray-lighter;
		margin-bottom: 20px;
	}
	
	.ch-book-link {
		
		a {
			@extend .button-clear;
			padding: 10px 25px;
		}
	}
}

// Clubhouse Location
.block--bean-clubhouse-location {
	
  @include breakpoint($bp-desk) {
		float: left;
		width: 33.56%;
  }
	
	.ch-location-header {
		background: $color-gray-9;
		position: relative;
		color: $color-white;
		padding: 20px 70px 20px 20px;
	
	  @include breakpoint($bp-desk) {
			height: 90px;
	  }
	
	  @include breakpoint($bp-full) {
			padding-left: 40px;
	  }
		
		&:after {
			@include use-sprite($icon-gps);
			position: absolute;
			top: 20px;
			right: 20px;
		}
		
		h2 {
			color: $color-black;
			margin-bottom: 5px;
	
		  @include breakpoint($bp-full) {
				@include rem(font-size, 25px);
		  }
		}
		
		.ch-location-spot {
			font-family: $sr;
			@include rem(font-size, 14px);
	
		  @include breakpoint($bp-full) {
				@include rem(font-size, 15px);
		  }
		}
	}
	
	.ch-location-map {
		@include clearfix;
		
		iframe {
			width: 100%;
			float: left;
	
		  @include breakpoint($bp-desk) {
				height: 250px;
		  }
		}
	}
	
	.ch-location-more {
		background: $color-orange;
		padding: 30px 20px;

	  @include breakpoint($bp-desk) {
			height: 350px;
	  }

	  @include breakpoint($bp-full) {
			padding: 80px 50px 0;
	  }
		
		.ch-location-title {
			font-family: $dr;
			@include rem(font-size, 36px);
			text-transform: uppercase;
			color: $color-white;
			margin-bottom: 20px;
			line-height: 1;
			
			span {
				color: $color-black;
				float: left;
				width: 100%;
				line-height: 1;
                 margin-bottom: 30px;
			}
		}
		
		.ch-location-text {
			font-family: $sr;
			@include rem(font-size, 14px);
			text-transform: uppercase;
			color: $color-white;
		}
	}
}