#block-bean-prizeboard {
 h2.block__title{

    background-color: #f1592a;
    color: #ffffff;
    font-family: "dangerregular",Helvetica,sans-serif;
    font-size: 1.875rem;
    height: 58px;
    line-height: 58px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
	padding-left:32px;
    text-transform: uppercase;
   }
   
   .fishing_trip_clubhouse{
   
      background-image: url("../images/clubhouse-img.jpg");
	  background-size: 600px !important;
	  width:50%;
	  height: 368px; 
    }
	
	.fab_resort{
	
	   background-image: url("../images/fab52-img.jpg");
	   width:50%;
	   
	
	}
  

  #block-bean-prizeboard .fishing_trip_clubhouse {    
  background-image: url("../images/clubhouse-img.jpg");
  width: 100%;    
  background-size: cover;
  }
.clubhouse-dfc {    width: 50%;    display: inline-block;    float: left;background-size: cover;}

.clubhouse-dfc .giveaway-counter {    background: #373737 none repeat scroll 0% 0%;
padding: 40px 0px 0px 30px;
margin-top: -20px;
min-height: 206px;}
.clubhouse-dfc .feb-52{padding-top:136px;}

.giveaway-counter h3{font-family: Rockwell;font-size: 20px;}
.giveaway-counter p{font-family: Rockwell; font-size: 20px; margin-top: 2px; color:#989898; }

.clubhouse-dfc .image-2{background-image: url("../images/fab52-img.jpg") !important;width: 100%;    min-height: 360px;    background-size: cover;}

.clubhouse-dfc .fishing_trip_clubhouse{width:100%;}
.clubhouse-dfc h2 {  padding-top: 121px;
margin-left: 33%;
font-size: 37px;
text-align: center;
text-transform: uppercase;
width: 34.1%;
border-bottom: 12px solid #FD6631;
padding-bottom: 7px;font-family: "dangerregular",Helvetica,sans-serif;}
  
  
  
  
.Official-bottom .how-to-win {    display: block;    float: left;    width: 50%;    padding: 57px 0px 0px 30px;}
.Official-bottom .how-to-win  h2{font-size: 37px;}
.Official-bottom .how-to-win  h3{color:#707070; font-size:25px; font-family:"tradegothic-bold-condensed20",Georgia,serif;}
.Official-bottom .how-to-win  p{margin-top: 3px;font-family:Rockwell-Bold; font-size:16px; font-weight: bold;}
.Official-bottom .how-to-win  li {   font-family:Rockwell-Light; font-weight: light; font-size:14.5px; margin-left: -22px;}
.Official-bottom .how-to-win a{font-family:Rockwell-Light; font-weight: light; font-size:14.5px; font-weight: 100 !important;}
.Official-bottom .how-to-win a:hover{color:#fff;}
.Official-bottom .how-to-win  .button {    margin-top: 58px;    padding: 10px 30px 10px 30px !important;    margin-right: 10px; font-family: "tradegothic-bold-condensed20",Georgia,serif; font-size:15.5 !important; height:51; width:228px;}

.Official-bottom .current-resort {    display: block;    float: left;    width: 50%;    padding: 63px 0px 0px 30px;}
.Official-bottom .current-resort .first-h3{color:#ED604C;font-family:"tradegothic-bold-condensed20",Georgia,serif; font-size:26px; line-height: 1.1;}
.Official-bottom .current-resort h3{color:#707070; font-size:26px; font-family:"tradegothic-bold-condensed20",Georgia,serif;}

.Official-bottom .current-resort li{font-family:Rockwell-Light; font-weight: 100 !important; font-size:14.5px; margin-left: -22px;}
  .current-resort a{  font-family: Rockwell-Light; font-size: 14.5px; font-weight: 100 !important;}
  .current-resort a:hover{color:#fff;}

.Official-bottom .current-resort p{margin-top: 3px; font-family:Rockwell; font-size:16px; font-weight: bold; padding-bottom: 21px;}
.Official-bottom .current-resort li {    font-weight: 700;}
.Official-bottom .current-resort .button {   margin-top: 142px;    padding: 10px 30px 10px 30px !important;    margin-right: 10px; font-family: "tradegothic-bold-condensed20",Georgia,serif; font-size:15.5 !important;height:51; width:228px;}



}


@media screen and (min-width: 320px) and (max-width: 767px){
	.clubhouse-dfc {    width: 100% !important;    display: inline-block;    float: left;background-size: cover;}
    .Official-bottom .how-to-win {    display: block;    float: left;    width: 100% !important;    padding: 30px;}
	.Official-bottom .current-resort {    display: block;    float: left;    width: 100% !important;    padding: 30px;}
}
