body.node-type-landing-page.section-media {
  
  .l-main {
    max-width: none;
	
	
  }
  
}
.node--media-item--full .field--image {
    margin-bottom: 30px;
    }
// Media Filter Block
.block--views-media-items-block-1 {
  position: relative;
  @include container;
  
  h2.block__title {
    background-color: $color-orange;
    height: 58px;
    line-height: 58px;
    margin: 0;
    font-family: $dr;
    @include rem(font-size, 30px);
    text-transform: uppercase;
    color: $color-white;
		padding: 0 20px;

	  @include breakpoint($bp-desk) {
			padding: 0 50px;
	  }
  }
  
  // points styling
  .views-field-nothing {
    color: $color-white;
    font-family: $sr;
    @include rem(font-size, 14px);
    text-transform: uppercase;
    position: relative;
    padding: 20px;
    
	  @include breakpoint($bp-desk) {
      float: right;
      width: 37%;
      padding: 15px 0 0 60px;
	  }
    
    .pts-value {
      color: $color-orange;
      font-family: $dr;
      @include rem(font-size, 16px);
    }
  }
  
  .vlink {
    @include breakpoint( $bp-desk ) {
      // cover player
      right: 37%;
      bottom: 0;
    }
  }
    
  .view-filters {
    position: absolute;
    top: 0;
    right: 0;
    
    .views-exposed-widgets {
      margin: 0;
    }
    
    .views-exposed-form .views-exposed-widget {
      padding: 0;
    }
    
    .views-submit-button,
    .description, 
    .form-item-edit-field-media-type-tid-all {
      display: none;
    }
    

    // video
    .form-item-edit-field-media-type-tid-2,
    .form-item-edit-field-media-type-tid-3 {
      position: relative;
      display: block;
      float: left;
      text-indent: -9999px;
      
      a {
        position: relative;
        display: block;
        height: 58px;
        width: 80px;
        background: $color-gray-89;

    	  @include breakpoint($bp-desk) {
          width: 210px;
    	  }
      
        &:after {
    			@include use-sprite($icon-video-filter);
          position: absolute;
          top: 50%;
          left: 50%;
          @extend .transform-50;
        }

        &.active {
          background: $color-white;
      
          &:after {
      			@include use-sprite($icon-video-filter-on);
          }
        }
      }
    }
    
    // image
    .form-item-edit-field-media-type-tid-3 {
      
      a {
      
        &:after {
    			@include use-sprite($icon-image-filter);
        }
        
        &.active {
      
          &:after {
      			@include use-sprite($icon-image-filter-on);
          }
        }
      }
    }
  }

  .view-content {
    padding: 30px 0;
    @include clearfix;
    
	  @include breakpoint($bp-desk) {
      padding: 30px 50px;
	  }
  }
  
  .owl-item {}
  
  .media-header {
    margin-bottom: 0;
    
	  @include breakpoint($bp-desk) {
      float: left;
      width: 63%;
	  }

    .field--image {}
    
    .field--media-link {
      
      iframe {
        width: 100%;
        height: 188px;

  		  @include breakpoint($bp-tab) {
  				height: 334px;
  		  }

  		  @include breakpoint($bp-desk) {
  				height: 314px;
  		  }

  		  @include breakpoint($bp-desk) {
  				height: 380px;
  		  }
      }
    }
  }

  .media-content {
    padding: 20px;
    
	  @include breakpoint($bp-desk) {
      float: right;
      width: 37%;
      padding: 15px 60px;
	  }
    
    .field--media-category {
  		font-family: $dr;
  		@include rem(font-size, 20px);
  		line-height: .8;
  		text-transform: uppercase;
  		color: $color-orange;
  		margin-bottom: 20px;
		
  		&:before {
  			@include use-sprite($icon-video-small);
  			display: inline-block;
  			margin-right: 10px;
  		}
    }
    .field--media-category.photo {
  		&:before {
  			@include use-sprite($icon-image-filter);
  			display: inline-block;
  			margin-right: 10px;
        // hax
        width: 21px;
        height: 15px;
        background-size: 756px 30px;
        background-position: -290px 0;
        opacity: 0.5;
  		}
    }
    
    .views-field-title {
			color: $color-white;
			font-family: $tgc;
			@include rem(font-size, 25px);
			line-height: 1;
			margin-bottom: 24px;

  	  @include breakpoint($bp-desk) {
        @include rem(font-size, 31px);
  	  }
      
      a {
  			color: $color-white;
        text-decoration: none;
        
        &:hover {
          color: $color-orange;
        }
      }
    }
    
    .views-field-field-product-description {
  		font-family: $sr;
      color: $color-white;
    }
  }
  
  .owl-controls {
    @extend .owl-controls-bars;

	  @include breakpoint($bp-desk) {
      position: absolute;
      bottom: 30px;
      right: -30px;
	  }

	  @include breakpoint($bp-full) {
      right: 40px;
	  }
  }
}

//Media grid
.block--views-media-items-block,
.block--views-media-items-block-3,
.block--views-media-items-block-4 {
  background: $color-gray-29 url(../images/bg-media.jpg) no-repeat 50% 0;
  background-size: cover;
  
  .inner {
    @include container;
    padding: 30px 20px 60px;

	  @include breakpoint($bp-desk) {
      padding: 30px 50px 60px;
	  }
  }
 
  h2.block__title {  
		font-family: $dr;
		@include rem(font-size, 30px);
		line-height: .8;
		text-transform: uppercase;
		color: $color-orange;
		margin-bottom: 20px;
  }
  
  .view-content {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .views-row {
    position: relative;
    height: 390px;
    max-width: 348px;
    margin: 0 auto 15px;
    text-align: left;
    z-index: 1;

    .views-item-media-item {
      .views-field-field-image-1 {
        display: none;
      }
    }

    .views-item-advertisement {
      .views-fieldset,
      .views-field-nothing {
        display: none;
      }
    }

	  @include breakpoint($bp-tab) {
      width: 348px;
	  }

	  @include breakpoint($bp-desk) {
      float: left;
      margin: 0 15px 15px 0;
	  }
    
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-black;
      opacity: .5;
      z-index: -1;
    }
    
    &:nth-of-type(3n) {
      margin-right: 0;
	  
	   @include breakpoint(min-width 959px) {
		@include breakpoint(max-width 1024px) {
			margin-right: 15px !important;
			margin-bottom: 15px !important;
		  }	  
	  }

	  @include breakpoint(max-width 958px) {
		margin: 0 auto!important;
		margin-bottom: 15px !important;
	  }
	  
	 
    }

   &:nth-of-type(3n+1) {
	
      clear: left;
	  
		 @include breakpoint(min-width 959px) {
		@include breakpoint(max-width 1024px) {
			margin-right: 15px !important;
			margin-bottom: 15px !important;
			clear: inherit !important;
		  }
		}

		  @include breakpoint(max-width 958px) {
			margin: 0px auto 15px auto !important;
		  }
		  
		  
    }
	
    
    // points styling
    .views-field-nothing {
      color: $color-white;
      font-family: $sr;
  		@include rem(font-size, 14px);
      text-transform: uppercase;
      position: absolute;
      left: 30px;
      bottom: 25px;
      
      .pts-value {
        color: $color-orange;
        font-family: $dr;
  		  @include rem(font-size, 16px);
      }
    }
  }
  
  .media-header {
    
    .field--media-link {
      
      iframe {
        width: 100%;
        height: 196px;

  		  /*@include breakpoint($bp-tab) {*/
		  @include breakpoint(max-width 1024px) {
  				height: 196px !important;
				min-height: 196px !important;
  		  }
      }
	  
	  .media-vimeo-video iframe{
			@include breakpoint(max-width 1024px) {
  				height: 196px !important;
				min-height: 196px !important;
  		  }
	  }
    }
    
    .field--image {}
  }
  
  .media-content {
    padding: 25px 30px;
    
    .field--media-category {
  		font-family: $dr;
  		@include rem(font-size, 13px);
  		line-height: .8;
  		text-transform: uppercase;
  		color: $color-orange;
  		margin-bottom: 20px;
		
  		&:before {
  			@include use-sprite($icon-video-smaller);
  			display: inline-block;
  			margin-right: 10px;
  		}
    }
    .field--media-category.photo {
  		&:before {
  			@include use-sprite($icon-image-filter);
  			display: inline-block;
  			margin-right: 10px;
        // hax
        width: 21px;
        height: 15px;
        background-size: 756px 30px;
        background-position: -290px 0;
        opacity: 0.5;
  		}
    }
    
    .views-field-title {
			color: $color-white;
			font-family: $tgc;
			@include rem(font-size, 25px);
			line-height: 1;
			margin-bottom: 0;
      
      a {
  			color: $color-white;
        text-decoration: none;
        
        &:hover {
          color: $color-orange;
        }
      }
    }

    .views-field-nothing {
      font-family: 'sanchezregular';
      font-size: 16px;
      font-weight: bold;
      margin-top: 20px;

      .pts-value {
        color: $color-orange;
      }
    }
  }
  
  ul.pager {
    @extend .load-more;
    
    @include breakpoint( $bp-tab ) {
      li {
        float: left;
        width: 33%;
      }
    }
  }
}
    
// vlink hiding
.vlink {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;
  text-indent: -999em;
}
    
// media details
.l-main {
  .l-content {
    .node--media-item--full {
      .field--product-description {
        font-family: $sr;
        margin-bottom: 20px;
        max-width: 550px;
      }
      
      // points styling
      .dfc-points {
        color: $color-white;
        font-family: $sr;
        @include rem(font-size, 17px);
        margin-bottom: 40px;
        text-transform: uppercase;
        
        .pts-value {
          color: $color-orange;
          font-family: $dr;
          @include rem(font-size, 18px);
        }
      }
    }
  }
}

