body.section-user,
body.section-users {
	
  .l-main {
    color: $color-gray-c;
	}
  
  h1 {
    display: none;
  }

  .block--bean-title-my-profile {
    @include container;
	
  	h2.block__title {
  		background-color: $color-orange;
  		min-height: 58px;
  		padding: 20px;
  		margin-bottom: 0;
  		font-family: $dr;
  		@include rem(font-size, 30px);
  		line-height: .8;
  		text-transform: uppercase;
  		color: $color-white;

  	  @include breakpoint($bp-desk) {
  			padding: 20px 50px;
  	  }
  	}
  }

  #user-media-node-form {

    #edit-field-media-link {
      display: inline-block;
      width: 20%;

      .form-item-field-media-link-und-0 {
        display: none;
      }
    }

    #edit-field-media-link:before {
      background-color: $color-gray-darker;
      background-image: url('../images/video_icon_light.png');
      background-position: center center;
      background-repeat: no-repeat;
      color: $color-white;
      content: '';
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      height: 150px;
      margin-bottom: 16px;
      width: 100%;
      text-align: center;
      vertical-align: top;
    }
    #edit-field-media-link:hover:before {
      background-color:rgba(128,128,128,.5);
    }
    #edit-field-media-link:after {
      @extend .button-small;
      
      content: 'Select Video';
      cursor: pointer;
      padding: 17px 0;
      width: 100%;
    }

    #edit-field-image {
      display: inline-block;
      margin-right: 25%;
      width: 20%;

      .form-item-field-image-und-0 {
        display: none;
      }
    }

    #edit-field-image:before {
      background-color: $color-gray-darker;
      background-image: url('../images/camera_icon_light.png');
      background-position: center center;
      background-repeat: no-repeat;
      color: $color-white;
      content: '';
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      height: 150px;
      margin-bottom: 16px;
      width: 100%;
      text-align: center;
      vertical-align: top;
    }
    #edit-field-image:hover:before {
      background-color:rgba(128,128,128,.5);
    }
    #edit-field-image:after {
      @extend .button-small;
      
      content: 'Select Image';
      cursor: pointer;
      padding: 17px 0;
      width: 100%;
    }

    .form-submit,
    .vertical-tabs {
      display: none;
    }
  }


  .content-bottom {
    padding: 60px 50px 50px;

    .view-id-my_invitiations {
      table {
        width: 100%;
      }
    }

    #block-invite-invite-add-invite-by-email {
      font-size: 0;
      .field-name-field-invitation-email-address {
        display: inline-block;
        font-size: 16px;

        input {
          color: $color-black;
          height: 40px;
          width: 200px;
        }
      }

      .description {
        display: none;
      }

      .form-submit {
        @extend .button-small;
      }
    }

    #block-views-user-media-block-1 {
      display: inline-block;
      width: 45%;
      vertical-align: top;

      img {
        float: left;
        width: 100px;
      }

      .views-row {
        min-height: 75px;
        padding-bottom: 10px;
      }

      .views-field-created,
      .views-field-field-ugc-moderation {
        padding-left: 110px;
      }

      .views-field-field-ugc-moderation .views-label {
        font-weight: bold;
      }

      .views-field-field-ugc-moderation .field-content {
        color: $color-orange;
        display: inline-block;
      }
    }

    #block-views-user-media-block-2 {
      display: inline-block;
      width: 45%;
      vertical-align: top;

      img {
        float: left;
        width: 100px;
      }

      .views-row {
        min-height: 75px;
      }

      .views-field-created,
      .views-field-field-ugc-moderation {
        padding-left: 110px;
      }

      .views-field-field-ugc-moderation .views-label {
        font-weight: bold;
      }

      .views-field-field-ugc-moderation .field-content {
        color: $color-orange;
        display: inline-block;
      }
    }
  }
}

.user-register-form,
.user-pass,
.user-login {
  padding: 20px;

  @include breakpoint($bp-desk) {
		padding: 50px;
  }
}

// User Profile
article.user-profile {
  @include clearfix;
  background: $color-gray-36;
  padding: 60px 50px 50px;

  .user-picture {
    margin-bottom: 50px;

	  @include breakpoint($bp-tab) {
      float: left;
      width: 40%;
	  }

	  @include breakpoint($bp-desk) {
      width: 18%;
      margin-bottom: 0;
	  }
    
    img {
      width: 136px;
      border-radius: 200px;
      overflow: hidden;
      border: 2px solid $color-white;
    }
  }
  
  .group-personal {
    margin-bottom: 50px;

	  @include breakpoint($bp-tab) {
      float: left;
      width: 60%;
      padding-top: 10px;
	  }
    
	  @include breakpoint($bp-desk) {
      width: 32%;
      margin-bottom: 0;
	  }
    
    .field--first-name,
    .field--last-name {
      font-family: $dr;
      @include rem(font-size, 33px);
      line-height: .9;
      color: $color-white;
      text-transform: uppercase;
    }
    
    .field--last-name {
      margin-bottom: 5px;
    }
    
    .field--city-state {
      font-family: $sr;
      @include rem(font-size, 16px);
    }
  }
  
  .group-profile-points {
    margin-bottom: 50px;

	  @include breakpoint($bp-tab) {
      clear: both;
	  }
    
	  @include breakpoint($bp-desk) {
      clear: none;
      float: left;
      width: 50%;
      margin-bottom: 0;
	  }
    
    h3 {
      display: none;
    }
    
    .userpoints-points {
      @extend .no-list;
      
      li {
        font-family: $sr;
        color: $color-white;
        @include rem(font-size, 36px);
        
        .placeholder {
          display: block;
          @include rem(font-size, 16px);
          color: $color-orange;
          font-style: normal;
        }
      }
    }
  }

}

// User Edit Form
form.user-profile-form {
  float: left;
  width: 100%;
  max-width: 1080px;
  padding: 0;
  margin: 20px;
  border-bottom: 1px solid $color-gray-50;
  
  @include breakpoint($bp-desk) {
    margin: 50px;
  }
  
  .form-item {
    
    label {
      color: $color-gray-9;
      font-family: $tgc;
      @include rem(font-size, 18px);
      font-weight: normal;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    input.form-text {
      width: 100%;
      height: 42px;
      padding: 10px;
      margin-bottom: 10px;
    }
    
    .description {
      @include rem(font-size, 12.5px);
      line-height: 1.3;
    }
  }
  
  .group-personal {
    margin-bottom: 50px;

	  @include breakpoint($bp-desk) {
      float: left;
      width: 50%;
      padding-right: 25px;
	  }
    
    h3 {
      font-family: $dr;
      color: $color-orange;
      @include rem(font-size, 25px);
      text-transform: uppercase;
      margin-bottom: 40px;
    }
  }

  .group-access {
    margin-bottom: 50px;

	  @include breakpoint($bp-desk) {
      float: right;
      width: 50%;
      padding-left: 25px;
	  }

    h3 {
      font-family: $dr;
      color: $color-orange;
      @include rem(font-size, 25px);
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    
    .form-item.password-parent,
    .form-item.confirm-parent {
      
      input.form-text {

    	  @include breakpoint($bp-tab) {
          width: 45%;
    	  }
      }
    }
  }
  
  fieldset#edit-picture {
    border: none;
    padding: 0;
    width: auto;
    
    @include breakpoint( $bp-tab ) {
      position: absolute;
      top: -200px;
      right: 81%;
      left: 48px;
      
      .form-item-picture-delete {
        position: absolute;
        left: 0;
        top: 151px;
        width: 83px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
        
        @include breakpoint( 720px ) {
          width: 111px;
        }
        
        
        @include breakpoint( 820px ) {
          width: 150px;
        }
        
      }
        
      .form-item-files-picture-upload {
        position: absolute;
        right: -330px;
        top: 151px;
        width: auto;
        max-width: 320px;
      }
    }
    
    legend {
      display: none;
    }
    
    img {
      max-width: 144px;
      border: 2px solid #fff;
      border-radius: 72px;
      -webkit-border-radius: 72px;
      -moz-border-radius: 72px;
      -ms-border-radius: 72px;
    }
  }
  
  #edit-timezone {
    margin-bottom: 50px;
  }
}

// User Login Page Tabs
body.section-user.not-logged-in {
  .tabs.tabs--primary {
    display: none;
  }
}

// Points landing
body.section-user.page-user-points {
  form {
    background: $color-white;
    color: $color-black;
    
    .form-item {
      background: $color-gray-c;
      float: left;
      margin: 0;
      width: 100%;
      
      label {
        float: left;
        padding: 20px;
        
        @include breakpoint($bp-desk) {
          padding-left: 50px;
        }
      }
      
      select {
        float: left;
        margin: 20px 0;
      }
      
    }
  }
  table {
    width: 100%;
    
    th {
      background: $color-white;
      padding: 20px;
      
      @include breakpoint($bp-desk) {
        padding: 20px 50px;
      }
    }
    th.active img {
      width: auto;
    }
    
    td {
      padding: 10px 20px;

      @include breakpoint($bp-desk) {
        padding: 10px 50px;
      }
    }
    
    td.userpoints-transactions-field-points {
      text-align: left;
    }

  }
}

// Membership section(s)
.block--dfc-user-blocks-your-membership {
  margin-bottom: 60px;
  
  h3 {
    color: $color-orange;
    margin-bottom: 50px;
  }
  
  h5 {
    font-family: $tgc;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  h2 {
    color: $color-white;
    @include rem(font-size, 43px);
    text-transform: uppercase;
  }
  
  @include breakpoint( $bp-tab ) {
    .current-membership-wrapper,
    .upgrade-membership-wrapper {
      float: left;
      width: 50%;
    }
  }
}

// Membership Benefits section(s)
.block--dfc-user-blocks-membership-benefits {
  h3 {
    color: $color-orange;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  dt,
  dd {
    color: $color-white;
    @include rem(font-size, 14px);
    line-height: 1.5;
    margin: 0 0 0.5em;
    padding: 0;
    text-indent: 0;
      
    @include breakpoint( $bp-tab ) {
      float: left;
      width: 50%;
    }
    h5 {
      color: $color-gray-9;
      font-family: $tgc;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }
  
  @include breakpoint( $bp-tab ) {
    dl {
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    dt {
      clear: left;
    }
  }
}
// User "My Invitations" block
.block--views-my-invitiations-block {
  margin: 40px 0 0;
  padding: 60px 0 0;
  border-top: 1px solid $color-gray-50;
  
  h2 {
    color: $color-orange;
    @include rem(font-size, 24px);
    margin: 0;
    text-transform: uppercase;
  }
  .view-header {
    @include rem(font-size, 12px);
    margin: 20px 0 50px;
  }
  
  th {
    color: $color-gray-9;
    font-family: $tgc;
    @include rem(font-size, 17px);
    padding-bottom: 1em;
    text-transform: uppercase;
  }
}

.block--invite-invite-add-invite-by-email {
  margin: 40px 0 0;
  padding: 0 0 70px;
  border-bottom: 1px solid $color-gray-50;
  
  h2 {
    display: none;
  }
  
  .form-item label {
    color: $color-gray-9;
    font-family: $tgc;
    @include rem(font-size, 17px);
    font-weight: normal;
    padding-bottom: 1em;
    text-transform: uppercase;
  }
}

// User Media Uploads block
.block--formblock-user-media {
  margin: 30px 0 0;
  
  h2 {
    color: $color-orange;
    @include rem(font-size, 24px);
    margin: 40px 0;
    text-transform: uppercase;
  }
}