// general form text color fix
input.form-text {
  color: $color-black;
}

// User flopout. 2 different styles based on whether you are logged in

body.not-logged-in {

  .block--dfc-flop-menu-userfloplink {
    position: absolute;
    top: 10px;
    right: 10px;
	width: 37%;
    text-align: right;

	
    @include breakpoint($bp-desk) {
  		top: 40px;
  		right: 50px;
    }

    #member_info_link,#points_leaderboard {
    	font-family: $sr;
    	@include rem(font-size, 11px);
      line-height: 1;
    	color: $color-gray-lighter;
      text-decoration: none;

      @include breakpoint($bp-desk) {
    		@include rem(font-size, 12.5px);
      }
    
      &:hover {
        color: $color-orange;
      }
    }
	
	
  }
  
  .block--dfc-flop-menu-userflop {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    background: $color-gray-1c;
    padding: 40px 50px;
	
    @include breakpoint($bp-desk) {
      width: 330px;
    }
    
    form.user-login-form {
      position: relative;
      padding-bottom: 100px;
      
      .form-item {
        margin: -1px 0 0;
      }
      
      input.form-text {
        width: 100%;
        font-family: $sr;
        @include rem(font-size, 12px);
        color: $color-gray-9;
        border: 1px solid $color-gray-61;
        background: transparent;
        padding: 10px;
      }
      
      ul {
        @extend .no-list;
        position: absolute;
        bottom: 0;
        left: 0;
        white-space: nowrap;
        
        li {
          display: inline-block;
          font-family: $sr;
          @include rem(font-size, 12px);
          line-height: 1;
          border-left: 1px solid $color-gray-9;
          padding-left: 5px;
          
          &:first-child {
            border-left: 0;
            padding-left: 0;
          }
          
          a {
            color: $color-gray-9;
          }
        }
      }
      
      .form-actions {
        margin: 0;
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        
        .form-submit {
          display: block;
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }

    a.x {
      margin: 0;
      position: absolute;
      bottom: 15px;
      left: 50%;
      @extend .transform-50;
			@include use-sprite($icon-close);
    }
  }
}

body.logged-in {

  .block--dfc-flop-menu-userfloplink {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 110px;
    padding: 20px 0 0 10px;
	
    @include breakpoint($bp-tab) {
      width: 220px;
      padding: 30px 0 0 30px;
    }

    @include breakpoint($bp-desk) {
      width: 330px;
      height: 130px;
      padding-top: 45px;
    }
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-left: 1px solid $color-gray-46;
      height: 100%;
    }
	    
    .flop-link-points-wrapper {
      float: right;
      width: 50%;
      font-family: $sr;
      @include rem(font-size, 15px);
      text-transform: uppercase;
      text-align: left;
	
      @include breakpoint($bp-tab) {
        width: 70%;
      }
      
      @include breakpoint($bp-desk) {
        width: 75%;
      }
    }

    #member_info_link {
      display: block;
      height: 45px;
      width: 45px;
      overflow: hidden;
      float: left;
    
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    
      &:after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 50%;
        @extend .transform-50;
        @include use-sprite($icon-open);

        @include breakpoint($bp-desk) {
          bottom: auto;
          left: auto;
          top: 50px;
          right: 30px;
        }
      }
      
      img {
        min-width: 45px;
        min-height: 45px;
        border-radius: 100%;
        border: 2px solid $color-white;
      }
    }
  }
  
  .block--dfc-flop-menu-userflop {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    background: $color-gray-1c;
	
    @include breakpoint($bp-desk) {
      width: 330px;
    }
    
    #dfc-user-flop {
      
      .user-picture {
        padding: 40px 0 20px;
        
        img {
          width: 140px;
          border-radius: 100%;
          border: 2px solid $color-white;
        }
      }

      .user-name {
        font-family: $sr;
        @include rem(font-size, 18px);
        text-transform: uppercase;
      }

      .user-city-state {
        font-family: $sr;
        @include rem(font-size, 14px);
        color: $color-gray-9;
        margin-bottom: 20px;
      }
      
      ul.links {
        @extend .no-list;
        text-align: left;
        
        li {
          border-top: 1px solid $color-gray-4e;
          font-family: $sr;
          @include rem(font-size, 14px);
          line-height: 1;
          
          a {
            display: block;
            color: $color-gray-9;
            text-decoration: none;
            padding: 15px 30px;
            
            &:hover {
              background: $color-orange;
              color: $color-white;
            }
          }
        }
      }
      
      .upload-links {
        border-top: 1px solid $color-gray-4e;
        float: left;
        width: 100%;
          
        a {
          color: $color-gray-9;
          float: left;
          font-family: $sr;
          @include rem(font-size, 14px);
          line-height: 1;
          padding: 20px 0;
          width: 50%;
          
          &:before {
            @include use-sprite($icon-image-filter);
            
            display: block;
            margin: 0 auto 20px;
            opacity: 0.5;
          }
          
          &:hover {
            color: $color-white;
            text-decoration: none;
            
            &:before {
              opacity: 1;
            }
          }
        }
        
        a.vid {
          &:before {
            @include use-sprite($icon-video-filter);
            
            display: block;
            // correct for slightly less height..
            margin: 2px auto 22px;
            opacity: 0.5;
          }
          
          &:hover {
            &:before {
              opacity: 1;
            }
          }
        }
      }
      
      .flop-points-wrapper {
        background: $color-orange;
        color: $color-black;
        font-family: $sr;
        line-height: 1;
        padding: 15px 30px;
        text-align: left;
        @include clearfix;
      }
      
      .points-title-wrapper {
        @include rem(font-size, 17px);
        color: $color-white;
        margin-bottom: 10px;
      }
      
      .monthly_points_markup,
      .lifetime_points_markup {
        float: left;
        width: 50%;
      }
      
      .lifetime_points_markup {
        float: right;
      }

      .monthly-title-wrapper,
      .lifetime-title-wrapper {
        @include rem(font-size, 18px);
      }

      .monthly-points-wrapper,
      .lifetime-points-wrapper {
        @include rem(font-size, 28px);
        font-weight: bold;
        margin-bottom: 10px;
      }

      .monthly_points_links,
      .lifetime_points_links {
        @include rem(font-size, 12px);
        color: $color-white;
        margin-bottom: 20px;
        
        a {
          color: $color-white;
        }
      }

      .lifetime-title-wrapper {
      }

      .lifetime-points-wrapper {
      }

      .lifetime_points_links {
      }
    }
    
    a.x {
      margin: 0;
      position: absolute;
      top: 40px;
      right: 30px;
			@include use-sprite($icon-close);
    }
  }
}