// This button is orange to black for gray backgrouns
.button {

	background: $color-orange;
	color: $color-white;
	@include rem(font-size, 20px);
  display: inline-block;
  font-family: $dr;
  letter-spacing: 2px;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
	
	&:hover {
		background: $color-black;
		color: $color-orange;
    text-decoration: none;
	}
}

.button-small {
  @extend .button;
  font-family: $tgc;
	@include rem(font-size, 15px);
  padding: 10px 25px;
  margin-top: 5px;
  vertical-align: baseline;
}

// This button is orange to dark gray
.button-to-gray {
  @extend .button;
	
	&:hover {
		background: $color-gray-27;
    border-color: $color-gray-27;
	}
}

// This button would appear on an image background
.button-clear {
	border: 2px solid $color-white;
	background: transparent;
	color: $color-white;
	@include rem(font-size, 20px);
  display: inline-block;
  font-family: $dr;
  letter-spacing: 2px;
  padding: 15px 45px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
	
  @include breakpoint( $bp-tab ) {
    padding: 15px;
  }
  @include breakpoint( $bp-desk ) {
    padding: 15px 45px;
  }
  
	&:hover {
		background: $color-orange;
		color: $color-white;
		border: 2px solid $color-orange;
	}
}

// This button would be an outline
.button-outline {
  @extend .button;
  
  border: 2px solid $color-white;
  background: none;
  font-size: 14px;
  margin: 41px 0 0;
  padding: 15px 45px;
	
  @include breakpoint( $bp-tab ) {
    padding: 15px;
  }
  @include breakpoint( $bp-desk ) {
    padding: 15px 45px;
  }
  
  &:hover {
    border: 2px solid $color-orange;
    background: $color-orange;
    color: $color-white;
  }
}