@font-face {
	font-family: 'sanchezregular';
  src: url('../fonts/sanchez-regular-webfont.eot');
  src: url('../fonts/sanchez-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sanchez-regular-webfont.woff2') format('woff2'),
       url('../fonts/sanchez-regular-webfont.woff') format('woff'),
       url('../fonts/sanchez-regular-webfont.ttf') format('truetype'),
       url('../fonts/sanchez-regular-webfont.svg#sanchezregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dangerregular';
  src: url('../fonts/danger-webfont.eot');
  src: url('../fonts/danger-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/danger-webfont.woff2') format('woff2'),
       url('../fonts/danger-webfont.woff') format('woff'),
       url('../fonts/danger-webfont.ttf') format('truetype'),
       url('../fonts/danger-webfont.svg#dangerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}