body {
	overflow-x: hidden;
	background: $color-black;
	color: $color-white;
	
}

.l-page {
	width: 100%;
	
	* {
	  -webkit-transition: all .5s ease;
	  -moz-transition: all .5s ease;
	  -ms-transition: all .5s ease;
	  -o-transition: all .5s ease;
	  transition: all .5s ease;
		// font smoothing
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  @include container;
  position: relative;
}

.l-main {
	@include clearfix;
	@extend .container;
  overflow: visible;
}

.content-bottom {
	@include clearfix;
	clear: both;
}

.row-padding {
  @include rem(padding-left, 10px);
  @include rem(padding-right, 10px);

  @include breakpoint($bp-tab) {
    @include rem(padding-left, 30px);
    @include rem(padding-right, 30px);
  }

  @include breakpoint($bp-full) {
    padding-left: 0;
    padding-right: 0;
  }
}