body {
	color: $color-default;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
	line-height: 1;
	font-family: $dr;
}

h1 {
	@include rem(font-size, 30px);
  @include rem(margin-bottom, 20px);
}

h2 {
	@include rem(font-size, 28px);
  @include rem(margin-bottom, 20px);
}

h3 {
  @include rem(font-size, 24px);
}

h4 {
  @include rem(font-size, 20px);
}

h5 {
  @include rem(font-size, 18px);
}

.dfc-header-lg {
  font-family: "dangerregular", Helvetica, sans-serif;
  color: $color-gray-light;
}

.dfc-header-o {
  font-family: "dangerregular", Helvetica, sans-serif;
  color: $color-orange;
}

a {
	color: $color-orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
		color: $color-black;
  }

}


p {
  @include rem(margin, 20px 0);
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

p.membership_note {
  margin-top: 230px !important;
  position: absolute;
  color: #fff;
  float: left;
  font-family: $rw;
  @include rem(font-size, 16px);
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  display: inline-block;
  width: 16%;
  text-align: left;
  clear: both;
	white-space: nowrap;
  
  .plus {
    @include rem(font-size, 25px);
  }
  
  .rate {
    color: #ff6633;
    @include rem(font-size, 25px);
    font-weight: 700;
    padding: 0 5px;
  }
}