.button {
	border: 0;
	background: $color-orange;
	color: $color-white;
	@include rem(font-size, 20px);
  display: inline-block;
  font-family: $dr;
  letter-spacing: 2px;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
	
	&:hover {
		background: $color-black;
		color: $color-orange;
	}
}

.button-clear {
	border: 2px solid $color-white;
	background: transparent;
	color: $color-white;
	@include rem(font-size, 20px);
  display: inline-block;
  font-family: $dr;
  letter-spacing: 2px;
  padding: 15px 45px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
	
	&:hover {
		background: $color-orange;
		color: $color-white;
		border: 2px solid $color-orange;
	}
}